//
// Normalization
// --------------------------------------------------

:root {
  --link-color: var(--dark-green);
  --link-text-decoration: none;
  --paragraph-margin: var(--spacing-medium);
  --headings-font-family: inherit;
  --heading-font-weight: 700;
}

// Document
// -------------------------

html {
  line-height: var(--base-line-height);
}

body {
  font-size: var(--base-font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Headings
// -------------------------

h1, h2, h3, h4, h5, h6 {
  font-family: var(--headings-font-family);
  font-weight: var(--headings-font-weight);
  &, p {
    margin-top: var(--paragraph-margin);
    margin-bottom: var(--paragraph-margin);
  }
}

h1 { font-size: var(--font-size-h1); }
h2 { font-size: var(--font-size-h2); }
h3 { font-size: var(--font-size-h3); }
h4 { font-size: var(--font-size-h4); }
h5 { font-size: var(--font-size-h5); }
h6 { font-size: var(--font-size-h6); }


// Links
// -------------------------

a {
  color: var(--link-color);
  text-decoration: var(--link-text-decoration);
}

// Forms
// -------------------------

// Undo background image from sanitize.css: forms.css

select:not([multiple]):not([size]) {
  background-image: none;
}