<div class="modal-body">
{% if product is empty %}
  <div class="alert alert-danger">An unknown error ocurred</div>
{% else %}
  <div class="alert alert-success">The following item has been added to your cart</div>
  <p>{{ product.description }}</p>
  <a class="btn btn-default" href="{{ helper("url").build("checkout") }}" style="margin:5px 0;width:100%">Proceed to Checkout</a>
  <a class="btn btn-default cancel" href="javascript:;" style="margin:5px 0;width:100%">Continue Shopping</a>
{% endif %}
</div>
