{% if helper("db").success("users", "resetPassword") %}
  <p>Your password has been reset.<br />Click <a href="{{ helper("url").build("login") }}">here</a> to return to the login page.</p>
{% else %}
  <h2>Reset Password</h2>
  <p>Enter your email address and a new password.</p>
  {{ helper("displays").render("PasswordResetForm") }}
{% endif %}