:root {
  --calendar-bg: var(--input-bg);
  --calendar-border: var(--input-border);
  --calendar-day-label-color: var(--silver);
  --calendar-selected-color: var(--input-selected-color);
  --calendar-selected-bg: var(--input-selected-bg);
}

.dijitPopup .dijitCalendar {
  margin-top: 2px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.dijitPopup .dijitCalendar > table {
  width: 100%;
}

.dijitCalendar {
  background-color: var(--calendar-bg);
  text-align: center;
  margin: 0 auto;
}

.dijitCalendarMonthContainer {
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.dijitCalendarDateTemplate {
  width: 48px;
  line-height: 48px;
  border: var(--calendar-border);
  &:hover {
    background: var(--input-hover-bg);
  }
}

.dijitCalendarDayLabelTemplate {
  color: var(--calendar-day-label-color);
  font-size: var(--f8-size);
  font-weight: normal;
}

.dijitCalendarPreviousMonth,
.dijitCalendarNextMonth {
  opacity: 0.2;
}

.dijitCalendarSelectedDate {
  background-color: var(--calendar-selected-bg);
  color: var(--calendar-selected-color);
  &:hover {
    background: var(--input-hover-bg);
  }
}

.dijitCalendarCurrentDate .dijitCalendarDateLabel {
  text-decoration: underline;
}

.dijitCalendarSelectedYear {
  font-size: var(--f5-size);
  margin-left: 8px;
  margin-right: 8px;
}

.dijitCalendarYearLabel {
  margin-top: 8px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.dijitCalendarArrow {
  @extend .material-icons;
  color: var(--input-border-color);
  &:hover {
    color: inherit;
  }
}

.dijitCalendarDecrease,
.dijitCalendarIncrease {
  display: none;
}

.dijitCalendarIncrementArrow {
  order: 3;
  width: 48px;
}

.dijitCalendarIncrementArrow:before {
  /* Right arrow. */
  content: "chevron_right";
}

.dijitCalendarDecrementArrow {
  width: 48px;
}

.dijitCalendarDecrementArrow:before {
  /* Left arrow. */
  content: "chevron_left";
}

.dijitA11ySideArrow {
  display: none;
}

.dijitCalendarMonthLabel {
  @extend .dijitMenuItem;
  font-size: var(--f8-size);
  padding: var(--spacing-extra-small) var(--spacing-small);
}

.dijitCalendarMonthLabelHover {
  @extend .dijitMenuItemHover;
}

.dijitCalendarMonthContainer .dijitArrowButtonInner {
  vertical-align: middle;
}
