// Dialogs

:root {
  --dialog-bg: var(--white);
  --dialog-section-border: var(--input-border);
  --dialog-padding: var(--spacing-medium);
}

.dijitDialog {
  position: absolute;
  z-index: 999;
  overflow: hidden;	/* override overflow: auto; from ContentPane to make dragging smoother */
  background-color: var(--dialog-bg);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0,0,0,0.3);
}

.dijitDialogUnderlayWrapper {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 998;
  display: none;
  background: transparent !important;
}

.dijitDialogUnderlay {
  background-color: var(--black-80);
}

.dijitDialogPaneContent {
  -webkit-overflow-scrolling: touch;
}

.dijitDialogPaneContentArea {
  padding: var(--dialog-padding);
}

.dijitDialogCloseIcon {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.dijitDialogCloseIcon .closeText {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,1);
  opacity: 0.2;
  display: inline;
  position: absolute;
  top:-4px;
  right:6px;
}

.dijitDialogCloseIconHover .closeText {
  opacity: 0.4;
}

.dijitDialogTitleBar {
  cursor: move;
  padding: var(--dialog-padding);
  border-bottom: var(--dialog-section-border);
}

.dijitDialogFixed .dijitDialogTitleBar {
  cursor: default;
}

.dijitDialogTitle {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.dijitDialogPaneActionBar {
  padding: var(--dialog-padding);
  text-align: right;
  border-top: var(--dialog-section-border);
}
