/* This stylesheet provides the structural CSS for the dgrid */
:root {
  --dgrid-bg: var(--white);
  --dgrid-header-color: var(--silver);
  --dgrid-header-bg: var(--near-white);
  --dgrid-row-border: var(--input-border);
  --dgrid-padding: var(--spacing-small) var(--spacing-medium);
  --dgrid-selected-bg: var(--link-color);
  --dgrid-pagination-disabled-color: var(--light-gray);
  --dgrid-border-radius: 0.25rem;
}

.dgrid {
  position: relative;
  height: 30em;
  display: block;
}

.dgrid-footer:after {
  content: "";
  display: table;
  clear: both;
}

.dbootstrap-grid {
  &.dgrid {
    background: var(--dgrid-bg);
  }
  .dgrid-header {
    color: var(--dgrid-header-color);
    text-transform: uppercase;
    font-size: var(--f9-size);
    background: var(--dgrid-header-bg);
    border-top-left-radius: var(--dgrid-border-radius);
    border-top-right-radius: var(--dgrid-border-radius);
  }

  .dgrid-header, .dgrid-footer, .dgrid-row {
    border: var(--dgrid-row-border);
  }

  .dgrid-row {
    margin-top: -1px;
  }

  .dgrid-footer {
    margin-top: -1px;
    border-bottom-left-radius: var(--dgrid-border-radius);
    border-bottom-right-radius: var(--dgrid-border-radius);
  }

  .dgrid-no-data {
    padding: var(--dgrid-padding);
  }

  &.br--bottom .dgrid-header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -1px;
  }

  &.br--top .dgrid-header {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.dgrid-header-scroll {
  position: absolute;
  top: 0;
  right: 0;
}

.dgrid-header-hidden {
  /*
    Used to "hide" header, without losing size information for reference.
    !important is used to supersede theme styles at higher specificity.
    Left/right box styles are untouched, as they may influence width of
    .dgrid-content as updated in Grid's resize method.
  */
  font-size: 0; /* allow shrinkage in IE Quirks mode for Lists */
  height: 0 !important;
  border-top: none !important;
  border-bottom: none !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.dgrid-footer-hidden {
  /* Hiding footer is much simpler; simply set its display to none. */
  display: none;
}

.dgrid-sortable {
  cursor: pointer;
}

.dgrid-row-table {
  border-collapse: collapse;
  border: none;
  table-layout: fixed;
  empty-cells: show;
  width: 100%;
  height: 100%;
}
.dgrid-cell {
  padding: var(--dgrid-padding);
  text-align: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.dgrid-content {
  position: relative;
  height: 99%;
}

.dgrid-scroller {
  overflow-x: auto;
  overflow-y: overlay;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: auto;
  -ms-overflow-y: auto;
  position: absolute;
  top: 0px;
  margin-top: 25px; /* this will be adjusted programmatically to fit below the header*/
  bottom: 0px;
  width: 100%;
  //webkit scrollbars
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 5px;
    background: var(--scrollbar-track-bg);
    box-shadow: inset 0 0 2px var(--black-30);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--scrollbar-thumb-bg);
    box-shadow: inset 0 0 2px var(--black-50);
  }
}

.dgrid-loading {
  position: relative;
  height: 100%;
}
.dgrid-above {
  position: absolute;
  bottom: 0;
}

.ui-icon {
  @extend .material-icons;
  width: 16px;
  height: 16px;
}

.ui-icon-triangle-1-e:before {
  content: "add_circle";
}
.ui-icon-triangle-1-se:before {
  content: "remove_circle";
}

.dgrid-expando-icon {
  width: 16px;
  height: 16px;
}
.dgrid-tree-container {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  overflow: hidden;
}
.dgrid-tree-container.dgrid-tree-resetting {
  -webkit-transition-duration: 0;
  -moz-transition-duration: 0;
  -ms-transition-duration: 0;
  -o-transition-duration: 0;
  transition-duration: 0;
}

/* Single Sort */
.dgrid-sort-arrow {
  display: block;
  float: right;
}
.dgrid-sort-arrow:before {
  content: "arrow_drop_down";
}
.dgrid-sort-up .dgrid-sort-arrow:before {
  content: "arrow_drop_up";
}

/* selection*/
.dgrid-selected {
  background-color: var(--dgrid-selected-bg);
}

.dgrid-input {
  width: 99%;
}

/* will be used to calculate the width of the scrollbar */
.dgrid-scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}

/* Styles for auto-height grids; simply add the dgrid-autoheight class */
.dgrid-autoheight {
  height: auto;
}
.dgrid-autoheight .dgrid-scroller {
  position: relative;
  overflow: visible; /* Allow dropdown menus and things like that to extend outside the grid */
  margin: 0 !important; /* dgrid will add inline top and bottom margins equal to the footer and header expecting them to be absolute positioned */
}
.dgrid-autoheight .dgrid-header-scroll {
  display: none;
}
.dgrid-autoheight .dgrid-header {
  right: 0;
}

/* indicator of a successful load */
#dgrid-css-dgrid-loaded { display: none; }

// 2. Pagination extension
//
// -----------------------------------------------------------

.dgrid-status {
  padding: var(--dgrid-padding);
}

.dgrid-pagination {
  display: flex;
  align-items: center;
}
.dgrid-navigation {
  padding: var(--dgrid-padding);
}
.dgrid-page-size {
  margin: var(--dgrid-padding);
  order: 3;
}
.dgrid-navigation {
  margin-left: auto;
}
.dgrid-navigation .dgrid-page-link {
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  padding: 0 4px;
}
.dgrid-first, .dgrid-last, .dgrid-next, .dgrid-previous {
  font-size: 130%;
  line-height: 1;
}
.dgrid-pagination .dgrid-page-disabled {
  color: var(--dgrid-pagination-disabled-color);
  cursor: default;
}
.dgrid-page-input {
  margin-top: 1px;
  width: 2em;
  text-align: center;
}

/* indicator of a successful load */
#dgrid-css-extensions-Pagination-loaded { display: none; }
