[submodule "core/app/public/js/dojo/dojo"]
	path = core/app/public/js/dojo/dojo
	url = git://github.com/dojo/dojo.git
[submodule "core/app/public/js/dojo/dijit"]
	path = core/app/public/js/dojo/dijit
	url = git://github.com/dojo/dijit.git
[submodule "core/app/public/js/dojo/dojox"]
	path = core/app/public/js/dojo/dojox
	url = git://github.com/dojo/dojox.git
[submodule "core/app/public/js/dojo/util"]
	path = core/app/public/js/dojo/util
	url = git://github.com/dojo/util.git
[submodule "core/app/public/js/dojo/dgrid"]
	path = core/app/public/js/dojo/dgrid
	url = git://github.com/SitePen/dgrid.git
[submodule "core/app/public/js/dojo/put-selector"]
	path = core/app/public/js/dojo/put-selector
	url = git://github.com/kriszyp/put-selector.git
[submodule "core/app/public/js/dojo/xstyle"]
	path = core/app/public/js/dojo/xstyle
	url = git://github.com/kriszyp/xstyle.git
[submodule "core/app/public/js/dojo/bootstrap"]
	path = core/app/public/js/dojo/bootstrap
	url = https://github.com/xsokev/Dojo-Bootstrap.git
