RewriteEngine On
RewriteCond %{REQUEST_URI} !public/(.*)$
RewriteRule ([A-Z][a-z]+)(/.*)?$ index.php?action=$1&params=$2
RewriteCond %{HTTP_REFERER} !^http://(www\.)?localhost [NC]
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} ^http://.*$
RewriteRule \.(jpe?g|gif|bmp|png)$ public/images/nohotlinks.png [L]