# compress static resources
AddOutputFilterByType DEFLATE text/html
<Files ~ "\.(gif|jpe?g|png|js|css|txt|html)$">
  SetOutputFilter DEFLATE
</files>

# cache for 2 weeks by default
Header set Cache-Control "max-age=1209600" "expr=-z resp('Cache-Control')"

RewriteEngine On

RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [R=301,L]

RewriteCond %{REQUEST_URI} !public/(.*)$
RewriteCond %{REQUEST_URI} !libraries/(.*)$
RewriteCond %{REQUEST_URI} !favicon.ico$
RewriteRule (.*) index.php
