# compress static resources
AddOutputFilterByType DEFLATE text/html
<Files ~ "\.(gif|jpe?g|png|js|css|txt|html)$">
	SetOutputFilter DEFLATE
</files>

# cache for 2 weeks by default
Header append Cache-control ""
Header edit Cache-control "^(?!.*max-age.*)(.*)" "max-age=1209600,$1"

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [R=301,L]

RewriteCond %{REQUEST_URI} !public/(.*)$
RewriteCond %{REQUEST_URI} !libraries/(.*)$
RewriteCond %{REQUEST_URI} !favicon.ico$
RewriteRule (.*) index.php
