language: php

php:
  - 5.6
#  - hhvm # remove until mailer can be mocked and sendmail setup can be removed

# env:
#   global:
#     - secure: DpGRywy6EcdCoLJlAorG69lB6cjGBeHBPTKDZMmLP2m4+KnKiztFXjOLGH09ekDkug7LNMhlScpO4Ncrs2L7d7nQJ586Gfzv+IzX4RaR4OMhqII8odwg1zxFddI6qlKIj+ArHsIMe2M1unR40XMrT7RJqqZIWKWdVxHaaED8rghnM84lXt+Yj+RZ+DEyjE0kfaXUFYDFayAn1KG6k7E8794eObMHigUlnnb/suYOReDfgyQ2Km+EOp09pE9zxJiUVM5vCRN1JqBuB+NPm3YWYPCeGDjBrL5FMBKOOmtc5mMct+wFsRn6KVmKr/ugtT4kQ2qTjIXroT8kGjK/Rke8EO4h3Ger9rGAudsld1UjuzNnp4AQGIuWpdWly3WWHZnpQh5LF9Sy1kavlyl3IQTSjfOk+8BZeRU8ghWlHIJ6U4VheWoyslE9aklluxyK9/LfYFSthuC3m93v5nXHxw+erO8TpDTtkEN4poQDeBAapDZtIxPFA91sKWe9sD+x8xJQVkD70BKupOTzbhXGI1L01AaB1VwkRXHZNjazkXJUwqYHy5oZWQfcIBzb8PEgGP5kwpnpDjin0mmUk6cWx6XNdOKTFFd1nWNKeai6pqxp/orXid1WfAIF9moAh0oSC/1lu2rzM4Hk5f1QNNeCTkhqGRCZQhDYos2cGU5ngksAqJo=
#     - secure: ODqLIIXc34SF+3sPZDfw80x18U3NwiLuTS16tFmNhm6wALaWtNzjaG1f/IvYJZBpTUShU8/yxZsHbd83jvX90LTzxU758JXmgekvAKl8ihyu/LSoUvGY9ZoNpNKbMV798SHbXJFbdzyIx9EqcZ/t3Bis2MVucT9S9T9XDJriFi+lLBmsfuj6Hw5ukcO5tMZU4mfAfGkMxE9y7A+1PnZcpZEowmvqPsNxYzgtKj74uaUkaeFj4BgoAxu3jjNLfrdrZ9LcQIpHueWJ5vCQpTdZTXTPz1hsEn+PlleHiqFHYrO00190vezdZGotncS/QRnnB4yUvUnDwXq79dRsGxQTOs9I5z2CPcrrkTRwUIksAS40O0pJ9fCTLddGQ+xlR/fnhwYQiCOB1dM5ksIKrt7ubn6WztkTMuWOjGB3NISYRCPy33kOykS5MG0QpN8Mrld+eThbuF3wzRF9HuhPGRna5RfjOhpDIHyvgqsrLiA3ZEv6/inre11g5IJmW3ThPYRABi7KO1HDEU9DDWs9XoZ8+hgsWnMavqmA4+ecHVZNgD8bOI0xw3bbWTDkxCOU+VHwHCDFkC29nauwDWTft7oViie6NnGQcxWJ5kO4wJcOAP6hPVyIiXcTJaGGi7+BD2AEfRWtKASZ90Bsai18gRn6/H99xR8YV6EH8YULMgEmJl0=

# addons:
#   sauce_connect: true

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y -qq postfix
  - composer self-update
  - mkdir var

install:
  - composer install
  - npm install

before_script:
  - sudo service postfix stop
  - smtp-sink -d "%d.%H.%M.%S" localhost:2500 1000 &
  - echo -e '#!/usr/bin/env bash\nexit 0' | sudo tee /usr/sbin/sendmail
  - echo 'sendmail_path = "/usr/sbin/sendmail -t -i "' | sudo tee "/home/travis/.phpenv/versions/`php -i | grep "PHP Version" | head -n 1 | grep -o -P '\d+\.\d+\.\d+.*'`/etc/conf.d/sendmail.ini"
  - mysql_tzinfo_to_sql /usr/share/zoneinfo | mysql -uroot mysql
  - mysql -e 'create database starbug_ci'
  - mysql -e 'create database starbug_ci_test'
  - ./sb generate host
  - sed -i 's/"password":"test"/"password":""/' app/etc/db/default.json
  - sed -i 's/"db":"test"/"db":"starbug_ci"/' app/etc/db/default.json
  - sed -i 's/"password":"test"/"password":""/' app/etc/db/test.json
  - sed -i 's/"db":"test"/"db":"starbug_ci_test"/' app/etc/db/test.json
  - cat app/etc/db/default.json
  - cat app/etc/db/test.json
  - echo 'root' | ./sb setup
  - composer dump-autoload
  - ./sb migrate -t test
  - composer dump-autoload

script: grunt phpunit

notifications:
  email: false
