/* Custom CSS for Storm */
/********************* structural elements *********************/
body{background:url(../images/bg.png) repeat-x #FFF;color:#666}
.page{position:relative;padding:7px 12px;text-align:left}
#top-right{float:right;color:#FFF}
body h1, body.claro h1{margin:0 0 8px 0;font-weight:bold;font-size:140%}
#subhead{display:block;margin:0 0 10px 2px;color:#999;font-size:90%;height:16px}
#tabs{width:auto;position:absolute;right:12px}
#nav{height:50px}
#main{margin:0 0 10px;padding:9px 0;float:left;width:100%}
#content{float:left;width:79%;position:relative}
.page.one-column #content, .page.View #content{width:100%}
#sidebar{float:right;width:20%}
#footer, #footer li{list-style-type:none;margin:0 0 30px 0;float:left;padding:0 0 0 15px}
label{display:block}

/********************* headers *********************/
h2{color:#419bc0;font-size:150%}

/********************* nav *********************/
.hnav{list-style-type:none;width:100%;height:40px;margin:0;padding:0}
.hnav li{float:left;padding:0;margin-right:5px}
.vnav{list-style-type:none;margin:0;padding:0}
.vnav li{padding:0}
.vnav li a{display:block;padding:0px 2px}
.vnav > li > a:hover{background:#419bc0;color:#FFF;text-decoration:none}

#nav > li{background:url(../images/nav-col-border.png) top right no-repeat}
#nav > li.last{background:transparent}
#nav > li > a{display:block;float:left;padding:21px 20px 0px 15px;height:29px;line-height:14px;color:#FFF;font-weight:bold;font-size:95%}
#nav > li > a > span{font-weight:normal;font-size:80%;color:#b5b5b5;display:block;margin-left:47px}
#nav > li > a img{margin-top:-12px}
#nav > li.first > a{padding-left:0}
#nav li ul{
	background: rgb(26,26,26); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(26,26,26,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(26,26,26,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(26,26,26,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(26,26,26,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(26,26,26,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(26,26,26,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1a1a', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
#nav li ul a{padding:0 8px 10px 20px}
.dropdown li:hover ul, .dropdown li li:hover ul, .dropdown li li li:hover ul, .dropdown li li li li:hover ul, .dropdown li.hover ul, .dropdown li li.hover ul, .dropdown li li li.hover ul, .dropdown li li li li.hover ul{left:-20px !important}

/********************* classes *********************/
.colborder{border-color:#111;border-width:2px;margin-right:24px}
.green{color:#494}
.red{color:#C00}
span.error{display:block;width:300px;padding:5px;margin-bottom:0}
.heading .button{margin:0;font-size:11px}
body button{padding: 5px 10px 5px 7px}
.blue.button, a.blue.button, .blue.button:hover, a.blue.button:hover, button.blue, button.blue:hover
{background:url(../images/button-left.png) no-repeat;padding:0 0 0 6px;color:#fff;border:none;margin:0;font-size:12px;font-weight:normal}
.blue.button span, a .blue.button span, button.blue span
{display:block;float:left;background:url(../images/button-right.png) top right no-repeat;padding:2px 9px 3px 3px}

.small.blue.button, a.small.blue.button, .small.blue.button:hover, a.small.blue.button:hover, button.small.blue, button.small.blue:hover
{background:url(../images/button-left-small.png) no-repeat;padding:0 0 0 4px;color:#fff;border:none;margin:0;font-size:80%;font-weight:normal}
.small.blue.button span, a .small.blue.button span, button.small.blue span
{background:url(../images/button-right-small.png) top right no-repeat;padding:1px 7px 2px 3px}

#tabs .button, #tabs a.button, #tabs .button:hover, #tabs a.button:hover{background:url(../images/tab-left.png) no-repeat;padding:0 0 0 5px;color:#419bc0;border:none;margin:0;font-size:80%;font-weight:normal;text-transform:uppercase;display:block;height:21px}
#tabs .button span, #tabs a.button span{display:block;float:left;background:url(../images/tab-right.png) top right no-repeat;padding:3px 7px 3px 3px}

.inline .button{padding-top:3px;padding-bottom:3px;margin-top:0.5em}

h2 .button{margin:4px 5px !important}

.photos{list-style-type:none}
.photos li{width:100px;height:150px;float:left;position:relative;margin-right:25px}

html body div .button.round-right{padding:3px 5px 3px}

.required .asterisk{font-size:125%;color:#C00;position:relative;left:4px}

/********************* the box *********************/
.box{background:#FFF;padding:0;overflow:hidden;width:100%}
.box{-webkit-box-shadow:0px 1px 14px 0px #888;-moz-box-shadow:0px 1px 14px 0px #888;box-shadow:0px 1px 14px 0px #888}
.box-top{padding-left:7px;height:7px;width:100%}
.box .inside{padding:10px 20px 10px 10px;position:relative}

/********************* links *********************/
#nav a span{font-weight:normal}
#nav a.active, #nav a:hover{}
a{color:#419bc0;text-decoration:none}
#top-right a, h1 a, h1 a:hover{color:#FFF}
a:hover{text-decoration:underline}
input.link{background:none;border:none;color:#419bc0;position:relative;top:-1px;cursor:pointer}
input.link:hover{text-decoration:underline}

/********************* forms *********************/
input.text, textarea, body.claro textarea.dijitTextBoxFocused, body.claro textarea.dijitTextBoxHover{border-color:#CCC;background:url(../images/text-input-bg.png) bottom left repeat-x;padding:2px;margin:0.5em 0 !important}
body.claro textarea.dijitTextBoxFocused{border-color:#666}
textarea{width:309px;height:100px}
#login_form{width:234px;height:128px;margin:34px auto 0;padding:136px 85px 0;background:url(../images/login-bg.png) no-repeat}
#login_form input.text{width:221px;color:#419bc0}
#login_form span.error{width:221px;position:absolute;top:330px}
.left.field{margin-right:5px}
.infield span.error{width:auto}
.input.left{margin-right:8px}
.input.checkbox input{float:left;width:auto;margin-right:5px;position:relative;top:-4px}

/********************* dojo *********************/
body .dijitDialogUnderlay{background:#111;opacity:0.6}
body.tundra .dojoxGridRow, body.tundra .dojoxGridScrollbox, body.tundra .dojoxGrid{background:transparent}
body.tundra .dijitDialog{-webkit-box-shadow:none;background:none;border:none}
body.tundra .dijitDialogTitleBar{display:none}
body.tundra .dijitDialogPaneContent{background:none;border:none}

.attribute{float:left;width:135px}
.attribute h4{font-size:12px;margin:10px 0px 5px;font-weight:bold}
.attribute ul{margin:0;padding:0;list-style-type:none}
.attribute ul li{margin:0px;padding:5px 0px}
.attribute ul li label{font-size:11px;padding-left:5px;font-weight:normal}
.attribute ul li.active label, .attribute ul li:hover label{background:#666;color:#FFF}
.attribute ul li input{display:none}

/********************* CMS Pages *********************/
.pages_form input.title-field{width:99%;font-size:18px}
#link-label{float:left;padding:6px 0;margin-right:5px}
.link-span{display:block;float:left;padding:5px 0;font-size:12px}
.link-span .editable{background:#FE9}
.infield{float:right;border:1px solid #999;margin:10px 0;padding:10px;width:15%}
.infield select{width:100%}
.infield input.text{width:96%}
.pages_form .big.button{font-size:36px;margin-top:10px;width:200px;line-height:normal;margin:0}
.pages_form .infield .big.button{width:100%}
.editable a{background:white;padding:0px 5px}

#applied_tags{clear:both;list-style-type:none;font-size:10px;margin:0}
#applied_tags li{float:left;margin-right:10px;margin-bottom:10px}
#applied_tags a{border:1px solid #666;padding:0px 4px 1px}
#applied_tags a:hover{background:#666;color:#FFF;text-decoration:none}
.infield, #applied_tags a{border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px}

/********************* CMS Menus *********************/
.uris_list{clear:both;height:300px;width:300px;overflow-y:scroll;margin-bottom:15px}
.uris_list li{list-style-type:none;clear:both;margin-bottom:5px;border-bottom:1px solid}
.menu_items li{padding:5px 0;list-style-type:none;clear:both}
.menu_items li input{width:25px;text-align:center}
.menu_item{width:500px}
body ol.menu_items button, body ol.menu_items button{margin:0 0 0 10px;padding:0px;background:transparent;border:none;position:relative;top:-3px}
body ol.menu_items button img{width:14px;height:14px}
.dojoDndHandle{float:right;width:15px;height:15px;background:url(../images/drag-handle.png) no-repeat;overflow:hidden;display:block;cursor:move}
.dojoDndHandle:hover, .dojoDndItem:hover .dojoDndHandle{background-position:0 -20px}
.claro .dojoDndItemAfter{border-top:none;border-bottom:1px solid #769DC0}

/********************* icons *********************/
.icon.sprite{width:16px;height:16px}
.Edit .icon{background:url(../icons/file-edit.png) no-repeat}
.Delete .icon{background:url(../icons/cross.png) no-repeat}

/********************* dgrid *********************/
.dgrid table{margin:0}
.dgrid button, .dgrid a.button{margin:0}
.dgrid .field-options{width:80px}
/* auto-height code */
/*
.ui-widget.dgrid{height:auto}
.dgrid .dgrid-scroller{position:relative;overflow-y:hidden}
.has-ie-6 .dgrid .dgrid-scroller{overflow-y:visible}
.dgrid .dgrid-header-scroll{display:none}
.dgrid .dgrid-header{right:0}
*/
