@import url("../../../../../core/app/public/js/dojo/dijit/themes/dijit.css");
@import url("../../../../../core/app/public/js/dojo/dijit/icons/commonIcons.css");/*sprite containing common icons to be used by all themes*/
@import url("../../../../../core/app/public/js/dojo/dijit/themes/claro/Common.css");
@import url("../../../../../core/app/public/js/dojo/dijit/themes/claro/form/Common.css");
@import url("../../../../../core/app/public/js/dojo/dijit/themes/claro/form/Button.css");
@import url("../../../../../core/app/public/js/dojo/dijit/themes/claro/form/Checkbox.css");
@import url("../../../../../core/app/public/js/dojo/dijit/themes/claro/form/RadioButton.css");
@import url("../../../../../core/app/public/js/dojo/dijit/themes/claro/form/Select.css");
@import url("../../../../../core/app/public/js/dojo/dijit/themes/claro/layout/TabContainer.css");
@import url("../../../../../core/app/public/js/dojo/dijit/themes/claro/Dialog.css");
@import url("../../../../../core/app/public/js/dojo/dijit/themes/claro/layout/AccordionContainer.css");
@import url("../../../../../core/app/public/js/dojo/dijit/themes/claro/layout/ContentPane.css");
@import url("../../../../../core/app/public/js/dojo/dijit/themes/claro/Calendar.css");
@import url("../../../../../core/app/public/js/dojo/dijit/themes/claro/Menu.css");
@import url("../../../../../core/app/public/js/dojo/dijit/themes/claro/form/Slider.css");
@import url("../../../../../core/app/public/js/dojo/dijit/themes/claro/ColorPalette.css");
@import url("../../../../../core/app/public/js/dojo/dijit/themes/claro/InlineEditBox.css");
@import url("../../../../../core/app/public/js/dojo/dijit/themes/claro/ProgressBar.css");
@import url("../../../../../core/app/public/js/dojo/dijit/themes/claro/TimePicker.css");
@import url("../../../../../core/app/public/js/dojo/dijit/themes/claro/layout/BorderContainer.css");
@import url("../../../../../core/app/public/js/dojo/dijit/themes/claro/Tree.css"); 
@import url("../../../../../core/app/public/js/dojo/dijit/themes/claro/Toolbar.css");
@import url("../../../../../core/app/public/js/dojo/dijit/themes/claro/Editor.css");/*in order to test button or menu item with icon */
@import url("../../../../../core/app/public/js/dojo/dijit/icons/editorIcons.css"); /*sprite for editor icons to be used by all themes*/
@import url("../../../../../core/app/public/js/dojo/dijit/themes/claro/TitlePane.css");
@import url("../../../../../core/app/public/js/dojo/dijit/themes/claro/form/NumberSpinner.css");

@import url("../../../../../core/app/public/js/dojo/dijit/themes/claro/claro_rtl.css");

@import url("../../../../../core/app/public/js/dojo/dojox/grid/resources/Grid.css");
@import url("../../../../../core/app/public/js/dojo/dojox/grid/resources/claroGrid.css");
@import url("../../../../../core/app/public/js/dojo/dojox/grid/enhanced/resources/EnhancedGrid.css");
@import url("../../../../../core/app/public/js/dojo/dojox/grid/enhanced/resources/claro/EnhancedGrid.css");
@import url("../../../../../core/app/public/js/dojo/dojox/grid/enhanced/resources/EnhancedGrid_rtl.css");
.claro {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: .688em;
  color: #131313;
}
/* Headings */
.claro h1 {
  font-size: 1.545em;
  margin-bottom: 0.727em;
  line-height:1em;
}
.claro h2 {
  font-size: 1.364em;
  line-height: 1.455em;
  margin-top: 1em;
  margin-bottom: 0.60em;
  font-weight: normal;
}
.claro h3,
.claro h4,
.claro h5,
.claro h6 {font-size:1.091em;font-weight:normal}
/* paragraphs, quotes and lists */
.claro p {line-height: 1.3em;}
.dojoxGridRowTable{margin-bottom:0}
