{% block before %}{% endblock %}
<div class="panel panel-default">
  <div class="panel-heading"><strong>{% block title %}{% endblock %}</strong></div>
  <div class="panel-body">
    {% block body %}{% endblock %}
  </div>
</div>
{% block after %}{% endblock %}
