:root {
  --btn-padding-vertical: var(--spacing-small);
  --btn-padding-horizontal: var(--spacing-medium);
  --btn-padding: var(--btn-padding-vertical) var(--btn-padding-horizontal);

  --btn-default-color: var(--dark-gray);
  --btn-default-bg: var(--white);
  --btn-default-border-color: var(--moon-gray);

  --btn-gray-color: var(--white);
  --btn-gray-bg: var(--gray);
  --btn-gray-border-color: var(--gray);

  --btn-success-color: var(--white);
  --btn-success-bg: var(--green);
  --btn-success-border-color: var(--green);

  --btn-danger-color: var(--white);
  --btn-danger-bg: var(--red);
  --btn-danger-border-color: var(--red);

  --btn-font-family: var(--headings-font-family);
  --btn-border-radius: .25rem;
}

.btn {
  // A button should display inline but allow vertical padding.
  display: inline-block;

  // A row of buttons should keep vertical alignment
  // regardless of tag type or quantity of text.
  vertical-align: middle;
  white-space: nowrap;

  // Similarly, the padding and height should be equal.
  padding: var(--btn-padding);
  line-height: var(--base-line-height);
  font-size: var(--base-font-size);

  // Default appearance.
  font-family: var(--btn-font-family);
  border-radius: var(--btn-border-radius);
  border: none;
}

// Style Variants.

.btn-link {
  cursor: pointer;
  transition: border-color 0.2s, background-color 0.2s, box-shadow 0.2s;
  color: var(--link-color);
  &:hover, &.active, &:focus {
    color: color-mod(var(--link-color) blend(white 35%));
  }
}

.btn-default {
  @include btn-variant(var(--btn-default-color), var(--btn-default-bg), var(--btn-default-border-color));
}

.btn-gray {
  @include btn-variant(var(--btn-gray-color), var(--btn-gray-bg), var(--btn-gray-border-color));
}

.btn-success {
  @include btn-variant(var(--btn-success-color), var(--btn-success-bg), var(--btn-success-border-color));
}

.btn-danger {
  @include btn-variant(var(--btn-danger-color), var(--btn-danger-bg), var(--btn-danger-border-color));
}

.btn-brand-green {
  @include btn-variant(var(--white), var(--brand-green), var(--brand-green));
}