<div class="cart clearfix">
	<table data-dojo-attach-point="gridNode" class="dgrid-autoheight">
		<thead>
			<tr>
				<th data-dgrid-column="starbug.grid.columns.html({ field: 'description' })">Product</th>
				<th data-dgrid-column="{ field: 'price_formatted'}">Price</th>
				<th data-dgrid-column="app.shop.columns.quantity({ field: 'qty'})">Quantity</th>
				<th data-dgrid-column="app.shop.columns.remove({ field: 'id'})">Remove</th>
				<th data-dgrid-column="{ field: 'total_formatted'}">Total</th>
			</tr>
		</thead>
	</table>
	<table data-dojo-attach-point="couponsNode" class="dgrid-autoheight" style="display:none;margin-top:20px">
		<thead>
			<tr>
				<th data-dgrid-column="starbug.grid.columns.html({ field: 'description' })">Coupon</th>
				<th data-dgrid-column="app.shop.columns.remove({ field: 'id'})">Remove</th>
				<th data-dgrid-column="{ field: 'total_formatted'}">Discount</th>
			</tr>
		</thead>
	</table>
	<table data-dojo-attach-point="giftcardsNode" class="dgrid-autoheight" style="display:none;margin-top:20px">
		<thead>
			<tr>
				<th data-dgrid-column="starbug.grid.columns.html({ field: 'description' })">Coupon</th>
				<th data-dgrid-column="app.shop.columns.remove({ field: 'id'})">Remove</th>
				<th data-dgrid-column="{ field: 'total_formatted'}">Amount</th>
			</tr>
		</thead>
	</table>
	<div class="actions" style="margin-top:20px">
		<button class="btn btn-default" data-dojo-attach-event="onClick:update">Update Cart</button>
	</div>

	<div class="totals" data-dojo-attach-point="totalsNode" style="margin:20px 0"></div>
	<div class="clearfix" style="margin-bottom:20px"></div>
	<div class="row" style="display:none" data-dojo-attach-point="checkout">
		<div class="col-md-6">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Shipping Address</h3>
			  </div>
			  <div class="panel-body">
			    <div data-dojo-type="starbug/form/Address" data-dojo-attach-point="shipping_address"></div>
			  </div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Billing Address</h3>
				</div>
				<div class="panel-body">
					<label for="billing_same">
						<input type="checkbox" value="1" data-dojo-attach-point="billing_same"/>
						My billing address is the same as my shipping address
					</label>
					<div data-dojo-type="starbug/form/Address" data-dojo-attach-point="billing_address"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="actions pull-right" style="clear:both">
		<a class="btn btn-primary" data-dojo-attach-point="submit" data-dojo-attach-event="onClick:next">Continue to Checkout</a>
	</div>
</div>
