<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
  backupStaticAttributes="false"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  processIsolation="false"
  stopOnFailure="false"
  bootstrap="../core/test.php"
>
  <filter>
    <whitelist>
      <directory suffix=".php">../</directory>
      <exclude>
        <directory suffix=".php">../libraries/</directory>
        <directory suffix=".php">../vendor/</directory>
        <directory suffix=".php">../node_modules/</directory>
      </exclude>
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-clover" target="../build/logs/clover.xml"/>
  </logging>
  <testsuites>
    <testsuite name="core">
      <directory>../core/tests/</directory>
      <directory>../core/app/tests/</directory>
    </testsuite>
    <testsuite name="dbmodule">
      <directory>../modules/db/tests/</directory>
    </testsuite>
    <testsuite name="content">
      <directory>../modules/content/tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>
