<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  backupGlobals="false"
  backupStaticAttributes="false"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  processIsolation="false"
  stopOnFailure="false"
  bootstrap="../vendor/starbug/di/bootstrap/test.php"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
>
  <coverage>
    <include>
      <directory suffix=".php">../</directory>
    </include>
    <exclude>
      <directory suffix=".php">../libraries/</directory>
      <directory suffix=".php">../vendor/</directory>
      <directory suffix=".php">../node_modules/</directory>
    </exclude>
    <report>
      <clover outputFile="../build/logs/clover.xml"/>
    </report>
  </coverage>
  <logging>
    <junit outputFile="../build/logs/phpunit.xml"/>
  </logging>
  <testsuites>
    <testsuite name="core">
      <directory>../core/app/tests/</directory>
    </testsuite>
    <testsuite name="dbmodule">
      <directory>../modules/db/tests/</directory>
    </testsuite>
    <testsuite name="content">
      <directory>../modules/content/tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>
