<li class="comment" dojoAttachPoint="containerNode">
	<div class="sprite avatar" dojoAttachPoint="defaultAvatar"></div>
	<img class="avatar left" style="display:none" dojoAttachPoint="userAvatar" />
	<div class="header">
		<strong dojoAttachPoint="author"></strong> on <span dojoAttachPoint="date"></span>
		<a class="right" href="#" dojoAttachPoint="deleteButton" style="display:none;padding:0 7px;margin-top:-2px">delete</a>
		<a class="right" href="#" dojoAttachPoint="blockButton" style="display:none;padding:0 7px;margin-top:-2px">block</a>
		<a class="right" href="#" dojoAttachPoint="unblockButton" style="display:none;padding:0 7px;margin-top:-2px">unblock</a>
		<a class="right" href="#" dojoAttachPoint="editButton" style="display:none;padding:0 7px;margin-top:-2px">edit</a>
		<a class="right" href="#" dojoAttachPoint="helpfulButton" style="display:none;padding:0 7px;margin-top:-2px">helpful</a>
	</div>
	<div class="body" dojoAttachPoint="body"></div>
	<div class="commentFiles" dojoAttachPoint="fileList"></div>
	<br class="clear"/>
</li>
