<div class="comment_box">
	<ul class="comments" data-dojo-attach-point="containerNode">
	</ul>
	<div class="comment_status" data-dojo-attach-point="statusNode"></div>
	<div class="commentform">
		<div data-dojo-type="dijit.Editor" data-dojo-attach-point="editor"></div>
		<div data-dojo-type="dijit.form.Button" data-dojo-attach-point="button" data-dojo-attach-event="onClick: newItem">Comment</div>
	</div>
	<div class="fileStatus" data-dojo-attach-point="fileStatus"></div>
	<div class="fileList" data-dojo-attach-point="fileList"></div>
	<!--<input data-dojo-attach-point="uploader" style="width:200px" type="file" multiple="true" data-dojo-type="dojox.form.Uploader" label="Attach a file to this comment..." url="/upload" uploadOnSelect="true"/>-->
</div>
