/* CSS for Starbug PHP */
/* common styles */
*{margin:0;padding:0}
html{font-size:100%}
.hidden{display:none}
.left{float:left}
.right{float:right}
.clear{clear:both}
a img{border:none;position:relative;top:2px}
body{background:url('../images/sbfade.png') repeat-x #efede8;font-size:11px;text-align:center;color:#666}
body, input{font-family: Helvetica, Arial, sans-serif}
/* structural elements */
#shell, .shell{width:900px;margin:0 auto}
#shell{padding-top:200px;position:relative;background:url('../images/starbug.png') 0px -3px no-repeat;height:500px;text-align:left;font-size:14px}
#footer{list-style:none;float:right;font-size:10px;margin-bottom:30px;clear:both}
/* headings */
h1{position:absolute;top:90px;left:310px;font-size:34px}
#subhead{position:absolute;top:130px;left:315px;font-weight:bold;font-size:12px}
h2{color:#262;font-size:20px;margin:15px 0}
h2.title{position:absolute;top:0px;right:0px;color:#FFF;font-size:42px}
h3{padding:5px 0}
/* login */
body.login{background:#efede8}
.login #shell{background:transparent;padding-top:75px}
#login_form{background:#FFF;width:500px;padding:20px;margin:0 auto 75px auto}
#login_form .field{background:transparent;border:none;padding:5px 15px}
#login_form input.text{font-weight:bold;color:#666}
#login_form .button{margin-left:15px}
.login h1{left:415px}
.login #subhead{left:420px}
/* lists */
#footer li{float:left;padding:0px 5px}
ul{margin-left:20px}
ul li{padding:5px}
ul.decimal{list-style-type:decimal}
#loading{width:31px;height:26px;background:url(../images/loader.gif) 0px 1px no-repeat;position:absolute;left:438px;top:0}
.thumbnails{list-style-type:none;margin:0}
.thumbnails li{float:left;padding:0}
.thumbnails .label{display:block;text-align:center}
.file_list{list-style-type:none;font-style:italic}
.hnav{list-style-type:none;width:100%;height:40px;margin:0}
.hnav li{float:left;padding:0;margin-right:5px}
#applied_tags{clear:both;list-style-type:none;font-size:10px;margin:0}
#applied_tags li{float:left}
/* inline */
p{margin-bottom:10px}
em{color:#222}
/* classes */
.codeblock{border:1px solid #222;padding:10px;margin:5px 0;width:50%;background:#fff;font-style:italic}
.note{font-size:10px}
.green{color:#494}
.red{color:#C00}
/* forms */
input.text{padding:2px;border:1px solid #999}
select{padding:2px;border:1px solid #999;font-weight:bold}
label{display:block;font-size:11px;font-weight:bold}
.uris_form .text{width:150px}
input.left.checkbox{margin-right:5px}
.field .error{display:block;font-size:9px;font-weight:bold;color:#C00}
.field{margin-bottom:10px;padding:15px;background:#fff;border-bottom:1px solid #999;border-top:1px solid #999}
.button{padding:3px 5px;border:none;color:#fff;background:#494;font-size:11px;font-weight:bold;text-decoration:none;font-family: Helvetica, Arial, sans-serif;cursor:pointer}
#login{width:215px}
fieldset{border:none;margin-bottom:15px;clear:both}
legend{background:#494;color:#EEE;font-weight:bold;padding:2px 5px}
.big.button{font-size:36px;font-weight:normal;margin-right:5px;padding:5px 10px}
a.big.button{padding:6px 10px}

/* links */
a{color:#494;text-decoration:none}
a:hover{text-decoration:underline}
h1 a{color:#494;text-decoration:none}
a.button{padding:4px 5px}
.button:hover{background:#5a5;}
#footer a{color:#494;text-decoration:none}
#footer a:hover{text-decoration:underline}
.thumbnails a{display:block;float:left;padding:2px 10px;text-decoration:none;color:#494;font-weight:bold}
.thumbnails a:hover{background:#494;color:#FFF}
input.link{background:none;border:none;color:#494;font-size:10px;position:relative;top:-1px;cursor:pointer}
input.link:hover{text-decoration:underline}
#applied_tags a{border:1px solid #494;padding:0px 4px 1px}
#applied_tags a:hover{background:#494;color:#FFF;text-decoration:none}

/* tables */
table{margin-bottom:10px}
th, td{padding:5px 10px}
table a.button{display:block;float:left}
table .options form{float:left}
table form .field, #dash form .field, dd form .field, .permits_form .field{float:left;height:35px}
table .uris_form .button, table .users_form .button, #dash_form form .button, .lidls dd form .button{display:none}
table .users_form .text{width:125px}
table .users_form .field{padding:15px 10px}
#plugins a{color:#222}
#plugins tr.active{background:#DFD;color:#FFF}

/* pages */
.lister{table-layout:fixed;width:100%;border-spacing:0;border:1px solid #999}
.lister .expand-col{width:30px;font-weight:bold;color:#494;cursor:pointer}
.lister .parent-col{width:15%}
.lister .owner-col{width:15%}
.lister .collective-col{width:15%}
.lister .title-col{font-weight:bold}
.title-col small{font-size:10px;position:relative;top:-5px}
.bridge .row-actions{margin:0px 0 5px}
.lister .date-col{width:20%}
.bridge .lister .status-col{width:20%;padding-left:0px}
.bridge .lister td.status-col{padding-left:3px}
.lister td.date-col, .lister td.status-col, .lister td.owner-col, .lister td.collective-col{font-size:11px;vertical-align:top;font-weight:bold}
.lister .status-col{width:10%}
.lister th{color:#EEE;background:url(../images/lister_top.png) repeat-x;padding:5px}
.lister td{border-bottom:1px solid #999;padding:5px}
.row-actions{list-style-type:none;margin:10px 0;visibility:hidden}
.row-actions li{float:left;font-size:10px;border-left:1px solid #999;padding:0px 5px}
.row-actions li.first{border-left:0;padding-left:0}
td:hover .row-actions{visibility:visible}
.pages_form label{clear:both}
.pages_form .field{float:left;width:870px}
.pages_form #title{width:865px;font-size:18px}
#link-label{float:left;padding:6px 0;margin-right:5px}
.link-span{display:block;float:left;padding:5px 0;font-size:12px}
.link-span .editable{background:#FE9}
.editable a{background:#fff;padding:0px 5px}
.pages_form .big.button{margin-top:10px;width:200px}
.infield{float:right;border:1px solid #999;margin:10px 0;padding:10px;width:200px}
.infield select{width:100%}
.infield .text{width:194px}
.leftfield{float:left;clear:left}
/* permits */
.tableft{position:relative;background:url(../images/tableft.png) top left no-repeat #494;padding-left:7px;height:21px;display:block;float:left}
.tabright{background:url(../images/tabright.png) top right no-repeat #494;padding-right:7px;height:21px;display:block;float:left}
.permit form{padding-top:20px}
.permitlist .field{float:left;border:none;padding:0px 4px;background:transparent}
.permitlist select{font-size:10px}
.inline_button{border:2px solid #999;margin:0px 4px;font-size:12px;float:left;font-weight:bold;color:#666;background:#EEE}
input.inline_button{cursor:pointer;padding:1px 3px}
a.inline_button{text-decoration:none;padding:2px 3px}
.inline_button:hover{background:#fff}
/* rounding */
.round.button, .lister, .inline_button, select, input.text{border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
.infield, #applied_tags a{border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px}
.big.round.button, #login_form{border-radius:15px;-moz-border-radius:15px;-webkit-border-radius:15px}
