/*
 * GENERAL MOBILE (Applies to all resolutions below 979px)
 */

@media (max-width: 979px) {

	/* mobile lock x-scroll for menu */
	html.hidden-menu-mobile-lock {
		overflow-x:hidden;
	}

	/* Force content to spread 100% */
	#main {
		width:100% !important;
		margin-left: 0;
		overflow-x: hidden;
	}

	#left-panel {
		left: -@asideWidth;
	}

	/* padding adjustment */
	#content, #ribbon {
		padding-left:5px;
		padding-right:5px;
	}

	 #fullscreen > :first-child > a {
	 	display:none !important;
	 }

	body.container {
		border:none !important;
		width:100% !important;
	}

	/* Visibility */
	.visible-tablet {
		display:inline-block !important;
	}
	.hidden-tablet, .display-inline.hidden-tablet {
		display:none !important;
	}

	/* minified adjustment counter */
	.minified #left-panel {
		left:0px;
	}

	.hidden-menu #left-panel {
		left:0;
	}

	.hidden-menu #main {
		position:relative;
		left: @asideWidth - 10px;
	}

	.hidden-menu.fixed-ribbon #ribbon {
		left: @asideWidth;
		width:100%;
	}
	.fixed-ribbon #ribbon {
		left: 0px;
	}

}
