.dijitButtonNode {
  border: none;
}

.dijitButtonNode .dijitIcon {
    // Keeps button heights with and without icons the same
    line-height: calc(var(--base-line-height) * 0.65);
}

.dijitButton .dijitButtonNode,
.dijitDropDownButton .dijitButtonNode,
.dijitComboButton .dijitButtonNode,
.dijitToggleButton .dijitButtonNode {
  @extend .btn;
}

// Hover
.dijitButtonHover .dijitButtonNode,
.dijitDropDownButtonHover .dijitButtonNode,
.dijitComboButton .dijitButtonNodeHover,
.dijitComboButton .dijitDownArrowButtonHover,
.dijitToggleButtonHover .dijitButtonNode {
  @extend .btn:hover;
}

// Active - pressed
.dijitButtonActive .dijitButtonNode,
.dijitComboButton .dijitButtonNodeActive,
.dijitToggleButtonActive .dijitButtonNode,
.dijitToggleButtonChecked .dijitButtonNode {
  @extend .btn.active;
}

.dijitDropDownButtonActive .dijitButtonNode {
  @extend .dijitDropDownButtonHover .dijitButtonNode;
}

// Disabled
.dijitButtonDisabled .dijitButtonNode,
.dijitDropDownButtonDisabled .dijitButtonNode,
.dijitComboButtonDisabled .dijitButtonNode,
.dijitToggleButtonDisabled .dijitButtonNode {
  cursor: not-allowed;
  background-image: none;
  opacity: 0.65;
  box-shadow: none;
}

.dijitToggleButtonDisabled.dijitToggleButtonChecked .dijitButtonNode {
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}

// Content
.dijitButtonText {
  padding: 0 0.3em;
  text-align: center;
}

// Arrow
.dijitArrowButtonInner {
  @extend .material-icons;
}
.dijitArrowButtonInner:before {
  content: "expand_more";
  color: var(--input-border-color);
  .dijitTextBox:hover & {
    color: inherit;
  }
}

.dijitUpArrowButton .dijitArrowButtonInner:before {
  content: "expand_less";
}

// Specific Styling
//

// Combo Box
.dijitComboButton td.dijitStretch,
.dijitComboButton td.dijitArrowButton {
    display: table-cell;
}

.dijitComboButton .dijitArrowButton {
    padding: var(--btn-padding);
    border-radius: 0 .25rem .25rem 0;
}

.dijitComboButton .dijitArrowButton.dijitHasDropDownOpen {
    @extend .dijitButtonActive .dijitButtonNode;
}

.dijitComboButton .dijitStretch {
    border-radius: 4px 0 0 4px;
}

table.dijitComboButton {
    border-collapse: separate;
}
