{% set new_label = "New Import <b class=\"fa fa-plus\"></b>" %}
{% set path = helper("url").build("admin/imports/create?model=" ~ model) %}
<div class="btn-group pull-right">
  <a class="btn btn-default" href="{{ path }}">{{ new_label }}</a>
  <a class="btn btn-default" href="javascript:window.location.href = imports_grid.collection._renderUrl().replace('json', 'csv');">
    Export CSV <b class="fa fa-file-text-o"></b>
  </a>
</div>
{{ helper("displays").render("SearchForm", {"model":"imports"}) }}
<br/>
