<div class="starbugIDE">
	<div dojoAttachPoint="outerBC" dojoType="dijit.layout.BorderContainer" gutters="false" design="sidebar" style="height:100%;width:100%">
		<div dojoType="dijit.layout.AccordionContainer" style="width:14%" region="leading" splitter="true">
			<div dojoType="dijit.layout.AccordionPane" title="Files" dojoAttachPoint="browser">
			</div>
			<div dojoType="dijit.layout.AccordionPane" title="Git" dojoAttachPoint="gitbox">
			</div>
		</div>
		<div id="editor" dojoAttachPoint="editor" dojoType="dijit.layout.TabContainer" style="height:100%;width:86%" region="center"></div>
	</div>
</div>