/* CSS for Starbug PHP Request Engine */
/* common styles */
* {margin:0;padding:0;}
html {font-size:100%;}
.hidden {display:none;}
.left {float:left;}
.right {float:right;}
a img {border:none;position:relative;top:2px;}
body {background:url('../images/sbfade.png') repeat-x #efede8;font-family: Tahoma, Verdana, Arial, sans-serif;font-size:62%;text-align:center;color:#666;}
/* structural elements */
#shell {width:900px;margin:0 auto;padding-top:200px;position:relative;background:url('../images/starbug.png') 0px -3px no-repeat;height:500px;text-align:left;font-size:14px;}
/* headings */
h1 {position:absolute;top:90px;left:310px;font-size:34px;}
#subhead {position:absolute;top:130px;left:315px;font-weight:bold;font-size:12px;}
h2 {color:#262;font-size:20px;margin:15px 0;}
/* lists */
ul {margin-left:20px;}
ul li {padding:5px;}
ul.decimal {list-style-type:decimal;}
/* inline */
p {margin-bottom:10px;}
em {color:#222;}
/* classes */
.codeblock {border:1px solid #222;padding:10px;margin:5px 0;width:50%;background:#fff;font-style:italic;}
.note {font-size:10px;}
/* forms */
label {display:block;font-size:11px;font-weight:bold;}
.field .error {display:block;font-size:9px;font-weight:bold;color:#C00;}
.field {margin-bottom:10px;padding:15px;background:#fff;border-bottom:1px solid #555;border-top:1px solid #555;}
.button {padding:2px 5px;border:none;border-left:1px solid #555;border-right:1px solid #555;color:#494;background:#DDD;font-size:11px;font-weight:bold;}
#login {width:215px;}
/* links */
h1 a {color:#494;text-decoration:none;}
a.button {text-decoration:none;height:16px;}
.button:hover {text-decoration:underline;}
/* tables */
th, td {padding:5px 10px;}
table a.button {display:block;height:16px;width:42px;padding:2px 8px;}
table form .field {float:left;height:35px;}
table .elements_form .button, table .users_form .button {display:none;}
table .users_form input {width:125px;}