<div class="form-group file-select clearfix">
	<input type="hidden" data-dojo-attach-point="input"/>
	<div data-dojo-attach-point="gridNode" style="display:none">
		<table data-dojo-attach-point="grid" class="dgrid-autoheight" data-dojo-type="starbug/grid/MemoryGrid" data-dojo-props="collection:this.store">
				<thead>
						<tr>
								<th data-dgrid-column="starbug.grid.columns.handle({field: 'id'})" class="field-drag">-</th>
								<th data-dgrid-column="starbug.grid.columns.html({field: 'filename'})">File</th>
								<th data-dgrid-column="starbug.grid.columns.filesize({field: 'size'})">Size</th>
								<th data-dgrid-column="{field: 'mime_type'}">Type</th>
								<th data-dgrid-column="{field: 'modified'}">Modified</th>
								<th data-dgrid-column="starbug.form.columns.FileSelectOptions({field:'id'})">Options</th>
						</tr>
				</thead>
		</table>
	</div>
	<div style="margin-top:15px" data-dojo-attach-point="controls">
		<div style="margin-left:10px" data-dojo-attach-point="statusNode"></div>
		<input data-dojo-attach-point="uploader" style="width:auto" type="file" multiple="true" data-dojo-type="starbug/form/Uploader" style="margin:0" label="<span class='fa fa-upload'></span> Upload" url="/upload" uploadOnSelect="true"/>
		<a data-dojo-attach-point="browseButton" class="btn btn-default" href="javascript:;" data-dojo-attach-event="click:browse"><span class="fa fa-folder-open"></span> Browse</a>
	</div>
</div>
