<div class="form-group file-select clearfix">
	<input type="hidden" data-dojo-attach-point="input"/>
	<div class="pull-left">
		<div data-dojo-attach-point="image" class="file-image"></div>
		<div data-dojo-attach-point="name" class="file-name"></div>
	</div>
	<input data-dojo-attach-point="uploader" style="width:auto" type="file" multiple="true" data-dojo-type="starbug/form/Uploader" style="margin:0" label="<span class='fa fa-upload'></span> Upload" url="/upload" uploadOnSelect="true"/>
	<a class="btn btn-default" href="javascript:;" data-dojo-attach-event="click:browse"><span class="fa fa-folder-open"></span> Browse</a>
	<div style="display:inline-block;margin-left:10px" data-dojo-attach-point="statusNode"></div>
</div>
