

.hover-ba:hover, .hover-ba:focus { border-style: solid; border-width: 1px; }
.hover-bt:hover, .hover-bt:focus { border-top-style: solid; border-top-width: 1px; }
.hover-br:hover, .hover-br:focus { border-right-style: solid; border-right-width: 1px; }
.hover-bb:hover, .hover-bb:focus { border-bottom-style: solid; border-bottom-width: 1px; }
.hover-bl:hover, .hover-bl:focus { border-left-style: solid; border-left-width: 1px; }
.hover-bn:hover, .hover-bn:focus { border-style: none; border-width: 0; }

.hover-bw0:hover, .hover-bw0:focus { border-width: 0; }
.hover-bw1:hover, .hover-bw1:focus { border-width: .125rem; }
.hover-bw2:hover, .hover-bw2:focus { border-width: .25rem; }
.hover-bw3:hover, .hover-bw3:focus { border-width: .5rem; }
.hover-bw4:hover, .hover-bw4:focus { border-width: 1rem; }
.hover-bw5:hover, .hover-bw5:focus { border-width: 2rem; }

/* Resets */
.hover-bt-0:hover, .hover-bt-0:focus { border-top-width: 0; }
.hover-br-0:hover, .hover-br-0:focus { border-right-width: 0; }
.hover-bb-0:hover, .hover-bb-0:focus { border-bottom-width: 0; }
.hover-bl-0:hover, .hover-bl-0:focus { border-left-width: 0; }