.w6 { width: 32rem; }

@media (--breakpoint-not-small) {
  .w6-ns { width: 32rem; }
}

@media (--breakpoint-medium) {
  .w6-m { width: 32rem; }
}

@media (--breakpoint-large) {
  .w6-l { width: 32rem; }
}