<h2>Complete Order</h2>
<div data-dojo-type="payment/Cart" data-dojo-props="mode:'payment', order:{{ cart.getOrder()|json_encode|replace({'"': "'"}) }}"></div>
<div style="clear:both"></div>
<div class="row">
  <div class="col-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Shipping Address</h3>
      </div>
      <div class="panel-body">
        {{ helper("addressFormatter").format(cart.get("shipping_address")) }}
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Billing Address</h3>
      </div>
      <div class="panel-body">
        {% if cart.get("billing_same") %}
          Same as shipping address
        {% else %}
          {{ helper("addressFormatter").format(cart.get("billing_address")) }}
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    {{ helper("displays").render("PaymentForm", {"id": cart.get("id")}) }}
  </div>
</div>
