{% if helper("db").success("terms", "create") %}
  <div class="alert alert-success">Term saved successfully</div>
{% endif %}
<div class="panel panel-default">
  <div class="panel-heading"><strong>Update Taxonomy '{{ taxonomy }}'</strong></div>
  <div class="panel-body">
  <div class="clearfix">
    <p class="pull-right">
      <a class="btn btn-default" href="{{ helper("url").build("admin/taxonomies/create?taxonomy=" ~ taxonomy) }}">
        Add Term <b class="fa fa-plus"></b>
      </a>
    </p>
  </div>
  {{ helper("displays").render("TermsTreeGrid", {"taxonomy": taxonomy}) }}
  </div>
</div>
