<div class="row">
  <div class="col-md-6">
    <h2>{{ product.name }}</h2>
    <div>{{ product.content }}</div>
  </div>
  <div class="col-md-6">
    {{ helper("displays").render("ProductConfigurationForm", {"id":product.id, "type":product.type}) }}
  </div>
</div>
