
  <article class="mt5">
    <h3 class="f8 ttu fw6 mt0 mb3 bb pb2">Data Grid</h3>
    <div>
      <table  class="display dgrid-autoheight dbootstrap-grid" data-dojo-id="grid" action="admin" data-dojo-props="'model':'users','action':'admin', query: {attributes:''}" data-dojo-type="starbug/grid/PagedGrid">
        <thead>
          <tr>
            <th  label="First Name" data-dgrid-column="{model:'users', field:'first_name'}">First Name</th>
            <th  label="Last Name" data-dgrid-column="{model:'users', field:'last_name'}">Last Name</th>
            <th  label="Email" data-dgrid-column="{model:'users', field:'email'}">Email</th>
            <th  label="Last Visit" data-dgrid-column="{model:'users', default:'0000-00-00 00:00:00', field:'last_visit'}">Last Visit</th>
            <th  label="Groups" data-dgrid-column="{model:'users', field:'groups'}">Groups</th>
            <th  label="Status" data-dgrid-column="{model:'users', default:0, field:'deleted'}">Status</th>
            <th  label="Options" class="field-options" data-dgrid-column="starbug.grid.columns.options({field:'id'})">Options</th>
          </tr>
        <thead>
      </table>
    </div>
  </article>