
    <article class="mt5">
      <h3 class="f8 ttu fw6 mt0 mb3 bb pb2">Breakpoints</h3>
      <div class="mb5 nl4 nr4">
        <div class="nl3 nr3 nl5-ns nr5-ns">
          <div class="tc bg-light-gray mb2 br b--persian-green bw1" style="max-width:48rem"><span class="f8 mid-gray lh-solid fw3 code v-mid">small (&lt; 48em)</span></div>
          <div class="tc bg-light-gray mb2 br bl b--persian-green bw1 dn db-ns" style="max-width:16rem;margin-left:48rem"><span class="f8 mid-gray lh-solid fw3 code v-mid">medium (48em - 64em)</span></div>
          <div class="tc bg-light-gray mb2 bl b--persian-green bw1 dn db-l" style="margin-left:64rem"><span class="f8 mid-gray lh-solid fw3 code v-mid">large (&gt; 64em)</span></div>
        </div>
      </div>
    </article>

    <article class="mt5">
      <h3 class="f8 ttu fw6 mt0 mb3 bb pb2">Spacing</h3>
      <p>An eight step powers of two scale ranging from 0 to 16rem.</p>
      <div class="b mt4">
        <div class="f8 fw5 code mb3">0, 0.25rem, 0.5rem, 1rem, 2rem, 4rem, 8rem &amp; 16rem</div>
        <div class="flex debug-grid-green">
          <div class="h4 bg-mid-gray white mr4" style="width: 0px;"></div>
          <div class="h4 bg-mid-gray white mr4" style="width: 0.25rem;"></div>
          <div class="h4 bg-mid-gray white mr4" style="width: 0.5rem;"></div>
          <div class="h4 bg-mid-gray white mr4" style="width: 1rem;"></div>
          <div class="h4 bg-mid-gray white mr4" style="width: 2rem;"></div>
          <div class="h4 bg-mid-gray white mr4" style="width: 4rem;"></div>
          <div class="h4 bg-mid-gray white mr4" style="width: 8rem;"></div>
          <div class="h4 bg-mid-gray white mr4" style="width: 16rem;"></div>
        </div>
      </div>
    </article>

    <article class="mt5">
      <h3 class="f8 ttu fw6 mt0 mb3 bb pb2">Fixed Width</h3>
      <div class="flex mb5">
        <div class="mr3">
          <div class="tr f6 h1 mb2 mid-gray lh-solid fw3 code">.w1 (1rem)</div>
          <div class="tr f6 h1 mb2 mid-gray lh-solid fw3 code">.w2 (2rem)</div>
          <div class="tr f6 h1 mb2 mid-gray lh-solid fw3 code">.w3 (4rem)</div>
          <div class="tr f6 h1 mb2 mid-gray lh-solid fw3 code">.w4 (8rem)</div>
          <div class="tr f6 h1 mb2 mid-gray lh-solid fw3 code">.w5 (16rem)</div>
        </div>
        <div class="flex-auto">
          <div class="tc h1 bg-light-gray mr3 mb2 br b--persian-green bw1 w1"></div>
          <div class="tc h1 bg-light-gray mr3 mb2 br b--persian-green bw1 w2"></div>
          <div class="tc h1 bg-light-gray mr3 mb2 br b--persian-green bw1 w3"></div>
          <div class="tc h1 bg-light-gray mr3 mb2 br b--persian-green bw1 w4"></div>
          <div class="tc h1 bg-light-gray mr3 mb2 br b--persian-green bw1 w5"></div>
        </div>
      </div>
    </article>

    <article class="mt5">
      <h3 class="f8 ttu fw6 mt0 mb3 bb pb2">Percentage Width</h3>
      <div class="flex mb5">
        <div class="mr3">
          <div class="tr f8 h1 mb2 mid-gray lh-solid fw3 code">.w-10 (10%)</div>
          <div class="tr f8 h1 mb2 mid-gray lh-solid fw3 code">.w-20 (20%)</div>
          <div class="tr f8 h1 mb2 mid-gray lh-solid fw3 code">.w-25 (25%)</div>
          <div class="tr f8 h1 mb2 mid-gray lh-solid fw3 code">.w-30 (30%)</div>
          <div class="tr f8 h1 mb2 mid-gray lh-solid fw3 code">.w-33 (33%)</div>
          <div class="tr f8 h1 mb2 mid-gray lh-solid fw3 code">.w-third (100% / 3)</div>
          <div class="tr f8 h1 mb2 mid-gray lh-solid fw3 code">.w-34 (34%)</div>
          <div class="tr f8 h1 mb2 mid-gray lh-solid fw3 code">.w-40 (40%)</div>
          <div class="tr f8 h1 mb2 mid-gray lh-solid fw3 code">.w-50 (50%)</div>
          <div class="tr f8 h1 mb2 mid-gray lh-solid fw3 code">.w-60 (60%)</div>
          <div class="tr f8 h1 mb2 mid-gray lh-solid fw3 code">.w-two-thirds (100% / 1.5)</div>
          <div class="tr f8 h1 mb2 mid-gray lh-solid fw3 code">.w-70 (70%)</div>
          <div class="tr f8 h1 mb2 mid-gray lh-solid fw3 code">.w-75 (75%)</div>
          <div class="tr f8 h1 mb2 mid-gray lh-solid fw3 code">.w-80 (80%)</div>
          <div class="tr f8 h1 mb2 mid-gray lh-solid fw3 code">.w-90 (90%)</div>
          <div class="tr f8 h1 mb2 mid-gray lh-solid fw3 code">.w-100 (100%)</div>
        </div>
        <div class="flex-auto">
          <div class="tc h1 bg-light-gray mr3 mb2 br b--persian-green bw1 w-10"></div>
          <div class="tc h1 bg-light-gray mr3 mb2 br b--persian-green bw1 w-20"></div>
          <div class="tc h1 bg-light-gray mr3 mb2 br b--persian-green bw1 w-25"></div>
          <div class="tc h1 bg-light-gray mr3 mb2 br b--persian-green bw1 w-30"></div>
          <div class="tc h1 bg-light-gray mr3 mb2 br b--persian-green bw1 w-33"></div>
          <div class="tc h1 bg-light-gray mr3 mb2 br b--persian-green bw1 w-third"></div>
          <div class="tc h1 bg-light-gray mr3 mb2 br b--persian-green bw1 w-34"></div>
          <div class="tc h1 bg-light-gray mr3 mb2 br b--persian-green bw1 w-40"></div>
          <div class="tc h1 bg-light-gray mr3 mb2 br b--persian-green bw1 w-50"></div>
          <div class="tc h1 bg-light-gray mr3 mb2 br b--persian-green bw1 w-60"></div>
          <div class="tc h1 bg-light-gray mr3 mb2 br b--persian-green bw1 w-two-thirds"></div>
          <div class="tc h1 bg-light-gray mr3 mb2 br b--persian-green bw1 w-70"></div>
          <div class="tc h1 bg-light-gray mr3 mb2 br b--persian-green bw1 w-75"></div>
          <div class="tc h1 bg-light-gray mr3 mb2 br b--persian-green bw1 w-80"></div>
          <div class="tc h1 bg-light-gray mr3 mb2 br b--persian-green bw1 w-90"></div>
          <div class="tc h1 bg-light-gray mr3 mb2 br b--persian-green bw1 w-100"></div>
        </div>
      </div>
    </article>

    <article class="mt5">
      <h3 class="f8 ttu fw6 mt0 mb3 bb pb2">Max Width</h3>
      <div class="flex mb5">
        <div class="mr3">
          <div class="tr f8 h1 mb2 mid-gray lh-solid fw3 code">.mw-100 (100%)</div>
          <div class="tr f8 h1 mb2 mid-gray lh-solid fw3 code">.mw1 (1rem)</div>
          <div class="tr f8 h1 mb2 mid-gray lh-solid fw3 code">.mw2 (2rem)</div>
          <div class="tr f8 h1 mb2 mid-gray lh-solid fw3 code">.mw3 (4rem)</div>
          <div class="tr f8 h1 mb2 mid-gray lh-solid fw3 code">.mw4 (8rem)</div>
          <div class="tr f8 h1 mb2 mid-gray lh-solid fw3 code">.mw5 (16rem)</div>
          <div class="tr f8 h1 mb2 mid-gray lh-solid fw3 code">.mw6 (32rem)</div>
          <div class="tr f8 h1 mb2 mid-gray lh-solid fw3 code">.mw7 (48rem)</div>
          <div class="tr f8 h1 mb2 mid-gray lh-solid fw3 code">.mw8 (64rem)</div>
          <div class="tr f8 h1 mb2 mid-gray lh-solid fw3 code">.mw9 (96rem)</div>
        </div>
        <div class="flex-auto">
          <div class="tc h1 bg-light-gray mr3 mb2 br b--persian-green bw1 mw-100"></div>
          <div class="tc h1 bg-light-gray mr3 mb2 br b--persian-green bw1 mw1"></div>
          <div class="tc h1 bg-light-gray mr3 mb2 br b--persian-green bw1 mw2"></div>
          <div class="tc h1 bg-light-gray mr3 mb2 br b--persian-green bw1 mw3"></div>
          <div class="tc h1 bg-light-gray mr3 mb2 br b--persian-green bw1 mw4"></div>
          <div class="tc h1 bg-light-gray mr3 mb2 br b--persian-green bw1 mw5"></div>
          <div class="tc h1 bg-light-gray mr3 mb2 br b--persian-green bw1 mw6"></div>
          <div class="tc h1 bg-light-gray mr3 mb2 br b--persian-green bw1 mw7"></div>
          <div class="tc h1 bg-light-gray mr3 mb2 br b--persian-green bw1 mw8"></div>
          <div class="tc h1 bg-light-gray mr3 mb2 br b--persian-green bw1 mw9"></div>
        </div>
      </div>
    </article>

    <article class="mt5">
      <h3 class="f8 ttu fw6 mt0 mb3 bb pb2">Fixed Height</h3>
      <div class="flex flex-wrap mb5 items-start">
      <div class="mr3 mb3">
        <div class="f8 code center flex items-center justify-center mb2 w3 bg-light-gray bb b--persian-green bw1 h1">.h1</div>
        <div class="mr3 tc f8 code w-100">(1rem)</div>
      </div>
      <div class="mr3 mb3">
        <div class="f8 code center flex items-center justify-center mb2 w3 bg-light-gray bb b--persian-green bw1 h2">.h2</div>
        <div class="mr3 tc f8 code w-100">(2rem)</div>
      </div>
      <div class="mr3 mb3">
        <div class="f8 code center flex items-center justify-center mb2 w3 bg-light-gray bb b--persian-green bw1 h3">.h3</div>
        <div class="mr3 tc f8 code w-100">(4rem)</div>
      </div>
      <div class="mr3 mb3">
        <div class="f8 code center flex items-center justify-center mb2 w3 bg-light-gray bb b--persian-green bw1 h4">.h4</div>
        <div class="mr3 tc f8 code w-100">(8rem)</div>
      </div>
      <div class="mr3 mb3">
        <div class="f8 code center flex items-center justify-center mb2 w3 bg-light-gray bb b--persian-green bw1 h5">.h5</div>
        <div class="mr3 tc f8 code w-100">(16rem)</div>
      </div>
      </div>
    </article>

    <article class="mt5">
      <h3 class="f8 ttu fw6 mt0 mb3 bb pb2">Percentage Height</h3>
      <div class="flex flex-wrap mb5 h5">
        <div class="mr3 mb3">
          <div class="f8 code center flex items-center justify-center mb2 w3 bg-light-gray bb b--persian-green bw1 h-25">.h-25</div>
        </div>
        <div class="mr3 mb3">
          <div class="f8 code center flex items-center justify-center mb2 w3 bg-light-gray bb b--persian-green bw1 h-50">.h-50</div>
        </div>
        <div class="mr3 mb3">
          <div class="f8 code center flex items-center justify-center mb2 w3 bg-light-gray bb b--persian-green bw1 h-75">.h-75</div>
        </div>
        <div class="mr3 mb3">
          <div class="f8 code center flex items-center justify-center mb2 w3 bg-light-gray bb b--persian-green bw1 h-100">.h-100</div>
        </div>
      </div>
    </article>

    <article class="mt5">
      <h3 class="f8 ttu fw6 mt0 mb3 bb pb2">Viewport Percentage Height</h3>
      <div class="flex flex-wrap mb5">
        <div class="mr3 mb3"><div class="f8 code center flex items-center justify-center mb2 w3 bg-light-gray bb b--persian-green bw1 vh-25">.vh-25</div></div>
        <div class="mr3 mb3"><div class="f8 code center flex items-center justify-center mb2 w3 bg-light-gray bb b--persian-green bw1 vh-50">.vh-50</div></div>
        <div class="mr3 mb3"><div class="f8 code center flex items-center justify-center mb2 w3 bg-light-gray bb b--persian-green bw1 vh-75">.vh-75</div></div>
        <div class="mr3 mb3"><div class="f8 code center flex items-center justify-center mb2 w3 bg-light-gray bb b--persian-green bw1 vh-100">.vh-100</div></div>
      </div>
    </article>

    <article class="mt5">
      <h3 class="f8 ttu fw6 mt0 mb3 bb pb2">Border Radius</h3>
      <div class="flex flex-wrap mb5">
        <div class="mr3 mb3">
          <div class="f8 code center flex items-center justify-center mb2 h3 bg-light-gray ba b--moon-gray w3 br0">.br0</div>
          <div class="mr3 tc f8 code w-100">(0)</div>
        </div>
        <div class="mr3 mb3">
          <div class="f8 code center flex items-center justify-center mb2 h3 bg-light-gray ba b--moon-gray w3 br1">.br1</div>
          <div class="mr3 tc f8 code w-100">(.125rem)</div>
        </div>
        <div class="mr3 mb3">
          <div class="f8 code center flex items-center justify-center mb2 h3 bg-light-gray ba b--moon-gray w3 br2">.br2</div>
          <div class="mr3 tc f8 code w-100">(.25rem)</div>
        </div>
        <div class="mr3 mb3">
          <div class="f8 code center flex items-center justify-center mb2 h3 bg-light-gray ba b--moon-gray w3 br3">.br3</div>
          <div class="mr3 tc f8 code w-100">(.5rem)</div>
        </div>
        <div class="mr3 mb3">
          <div class="f8 code center flex items-center justify-center mb2 h3 bg-light-gray ba b--moon-gray w3 br4">.br4</div>
          <div class="mr3 tc f8 code w-100">(1rem)</div>
        </div>
        <div class="mr3 mb3">
          <div class="f8 code center flex items-center justify-center mb2 h3 bg-light-gray ba b--moon-gray w3 br-100">.br-100</div>
          <div class="mr3 tc f8 code w-100">(100%)</div>
        </div>
        <div class="mr3 mb3">
          <div class="f8 code center flex items-center justify-center mb2 h3 bg-light-gray ba b--moon-gray w4 br-pill">.br-pill</div>
          <div class="mr3 tc f8 code w-100">(9999px)</div>
        </div>
      </div>
    </article>

    <article class="mt5">
      <h3 class="f8 ttu fw6 mt0 mb3 bb pb2">Border Radius Position</h3>
      <p>Allows you to control the border radius position when paired with one of the a border scale classed.</p>
      <div class="flex flex-wrap mb5">
        <div class="mr3 mb3">
          <div class="f8 code center flex items-center justify-center mb2 h3 bg-light-gray ba b--moon-gray w4 br3 br--bottom">.br--bottom</div>
        </div>
        <div class="mr3 mb3">
          <div class="f8 code center flex items-center justify-center mb2 h3 bg-light-gray ba b--moon-gray w4 br3 br--top">.br--top</div>
        </div>
        <div class="mr3 mb3">
          <div class="f8 code center flex items-center justify-center mb2 h3 bg-light-gray ba b--moon-gray w4 br3 br--right">.br--right</div>
        </div>
        <div class="mr3 mb3">
          <div class="f8 code center flex items-center justify-center mb2 h3 bg-light-gray ba b--moon-gray w4 br3 br--left">.br--left</div>
        </div>
      </div>
    </article>

    <article class="mt5">
      <h3 class="f8 ttu fw6 mt0 mb3 bb pb2">Border Width</h3>
      <div class="flex flex-wrap mb5">
      <div class="mr3 mb3">
        <div class="f8 code center flex items-center justify-center mb2 h3 br b--moon-gray w3 bw0">.bw0</div>
        <div class="mr3 tc f8 code w-100">(0)</div>
      </div>
      <div class="mr3 mb3">
        <div class="f8 code center flex items-center justify-center mb2 h3 br b--moon-gray w3 bw1">.bw1</div>
        <div class="mr3 tc f8 code w-100">(.125rem)</div>
      </div>
      <div class="mr3 mb3">
        <div class="f8 code center flex items-center justify-center mb2 h3 br b--moon-gray w3 bw2">.bw2</div>
        <div class="mr3 tc f8 code w-100">(.25rem)</div>
      </div>
      <div class="mr3 mb3">
        <div class="f8 code center flex items-center justify-center mb2 h3 br b--moon-gray w3 bw3">.bw3</div>
        <div class="mr3 tc f8 code w-100">(.5rem)</div>
      </div>
      <div class="mr3 mb3">
        <div class="f8 code center flex items-center justify-center mb2 h3 br b--moon-gray w3 bw4">.bw4</div>
        <div class="mr3 tc f8 code w-100">(1rem)</div>
      </div>
      <div class="mr3 mb3">
        <div class="f8 code center flex items-center justify-center mb2 h3 br b--moon-gray w3 bw5">.bw5</div>
        <div class="mr3 tc f8 code w-100">(2rem)</div>
      </div>
    </div>
    </article>

    <article class="mt5">
      <h3 class="f8 ttu fw6 mt0 mb3 bb pb2">Border Width Resets</h3>
      <p>Allows you to set the border width, of a specific direction, to <code>0</code>.</p>
      <div class="flex flex-wrap mb5">
        <div class="mr3 mb3">
          <div class="f8 code center flex items-center justify-center mb2 h3 br b--moon-gray w4 bw2 ba bt-0">.bt-0</div>
        </div>
        <div class="mr3 mb3">
          <div class="f8 code center flex items-center justify-center mb2 h3 br b--moon-gray w4 bw2 ba br-0">.br-0</div>
        </div>
        <div class="mr3 mb3">
          <div class="f8 code center flex items-center justify-center mb2 h3 br b--moon-gray w4 bw2 ba bb-0">.bb-0</div>
        </div>
        <div class="mr3 mb3">
          <div class="f8 code center flex items-center justify-center mb2 h3 br b--moon-gray w4 bw2 ba bl-0">.bl-0</div>
        </div>
      </div>
    </article>

    <article class="mt5">
      <h3 class="f8 ttu fw6 mt0 mb3 bb pb2">Shadows</h3>
      <div class="flex flex-wrap mb5">
        <div class="mr3 mb3">
          <div class="f8 code center flex items-center justify-center mb2 w4 h4 shadow-1">.shadow-1</div>
        </div>
        <div class="mr3 mb3">
          <div class="f8 code center flex items-center justify-center mb2 w4 h4 shadow-2">.shadow-2</div>
        </div>
        <div class="mr3 mb3">
          <div class="f8 code center flex items-center justify-center mb2 w4 h4 shadow-3">.shadow-3</div>
        </div>
        <div class="mr3 mb3">
          <div class="f8 code center flex items-center justify-center mb2 w4 h4 shadow-4">.shadow-4</div>
        </div>
        <div class="mr3 mb3">
          <div class="f8 code center flex items-center justify-center mb2 w4 h4 shadow-5">.shadow-5</div>
        </div>
      </div>
    </article>

    <article class="mt5">
      <h3 class="f8 ttu fw6 mt0 mb3 bb pb2">Opacity</h3>
      <div class="flex flex-wrap">
        <div class="w4 h4 mr3 mb3 relative ba b--washed-red code f8 bg-checkered">
          <div class="absolute top-0 right-0 bottom-0 left-0 bg-washed-red o-0"></div>
          <div class="absolute top-0 right-0 bottom-0 left-0 flex items-center justify-center purple">.o-0</div>
        </div>
        <div class="w4 h4 mr3 mb3 relative ba b--washed-red code f8 bg-checkered">
          <div class="absolute top-0 right-0 bottom-0 left-0 bg-washed-red o-025"></div>
          <div class="absolute top-0 right-0 bottom-0 left-0 flex items-center justify-center purple">.o-025</div>
        </div>
        <div class="w4 h4 mr3 mb3 relative ba b--washed-red code f8 bg-checkered">
          <div class="absolute top-0 right-0 bottom-0 left-0 bg-washed-red o-05"></div>
          <div class="absolute top-0 right-0 bottom-0 left-0 flex items-center justify-center purple">.o-05</div>
        </div>
        <div class="w4 h4 mr3 mb3 relative ba b--washed-red code f8 bg-checkered">
          <div class="absolute top-0 right-0 bottom-0 left-0 bg-washed-red o-10"></div>
          <div class="absolute top-0 right-0 bottom-0 left-0 flex items-center justify-center purple">.o-10</div>
        </div>
        <div class="w4 h4 mr3 mb3 relative ba b--washed-red code f8 bg-checkered">
          <div class="absolute top-0 right-0 bottom-0 left-0 bg-washed-red o-20"></div>
          <div class="absolute top-0 right-0 bottom-0 left-0 flex items-center justify-center purple">.o-20</div>
        </div>
        <div class="w4 h4 mr3 mb3 relative ba b--washed-red code f8 bg-checkered">
          <div class="absolute top-0 right-0 bottom-0 left-0 bg-washed-red o-30"></div>
          <div class="absolute top-0 right-0 bottom-0 left-0 flex items-center justify-center purple">.o-30</div>
        </div>
        <div class="w4 h4 mr3 mb3 relative ba b--washed-red code f8 bg-checkered">
          <div class="absolute top-0 right-0 bottom-0 left-0 bg-washed-red o-40"></div>
          <div class="absolute top-0 right-0 bottom-0 left-0 flex items-center justify-center purple">.o-40</div>
        </div>
        <div class="w4 h4 mr3 mb3 relative ba b--washed-red code f8 bg-checkered">
          <div class="absolute top-0 right-0 bottom-0 left-0 bg-washed-red o-50"></div>
          <div class="absolute top-0 right-0 bottom-0 left-0 flex items-center justify-center purple">.o-50</div>
        </div>
        <div class="w4 h4 mr3 mb3 relative ba b--washed-red code f8 bg-checkered">
          <div class="absolute top-0 right-0 bottom-0 left-0 bg-washed-red o-60"></div>
          <div class="absolute top-0 right-0 bottom-0 left-0 flex items-center justify-center purple">.o-60</div>
        </div>
        <div class="w4 h4 mr3 mb3 relative ba b--washed-red code f8 bg-checkered">
          <div class="absolute top-0 right-0 bottom-0 left-0 bg-washed-red o-70"></div>
          <div class="absolute top-0 right-0 bottom-0 left-0 flex items-center justify-center purple">.o-70</div>
        </div>
        <div class="w4 h4 mr3 mb3 relative ba b--washed-red code f8 bg-checkered">
          <div class="absolute top-0 right-0 bottom-0 left-0 bg-washed-red o-80"></div>
          <div class="absolute top-0 right-0 bottom-0 left-0 flex items-center justify-center purple">.o-80</div>
        </div>
        <div class="w4 h4 mr3 mb3 relative ba b--washed-red code f8 bg-checkered">
          <div class="absolute top-0 right-0 bottom-0 left-0 bg-washed-red o-90"></div>
          <div class="absolute top-0 right-0 bottom-0 left-0 flex items-center justify-center purple">.o-90</div>
        </div>
        <div class="w4 h4 mr3 mb3 relative ba b--washed-red code f8 bg-checkered">
          <div class="absolute top-0 right-0 bottom-0 left-0 bg-washed-red o-100"></div>
          <div class="absolute top-0 right-0 bottom-0 left-0 flex items-center justify-center purple">.o-100</div>
        </div>
      </div>
    </article>