{% macro tab(path, label, active) %}
  <a href="{{ helper("url").build("styleguide/tachyons/" ~ path) }}" class="btn btn-default br--top link{% if active %} b--black z-1{% else %} z-2-focus{% endif %}" style="margin-right:-1px">{{ label }}</a>
{% endmacro %}

{% import _self as macros %}

  <h3 class="f7 fw6 ttu tracked">Style Guide</h3>
  <p class="lh-copy measure"><!-- text here --></p>

  <div class="flex">
    {% for path, label in {"colors":"Colors", "type":"Type", "scales":"Scales", "content":"Content", "controls":"Controls", "dgrid":"Data Grid"} %}
      {{ macros.tab(path, label, (page == path)) }}
    {% endfor %}
    <div class="w-100 bb b--moon-gray"></div>
  </div>

    {{ include("@views/styleguide/" ~ page ~ ".html.twig") }}


<style type="text/css">
.bg-checkered {
  background-color: #FFF;
  background-image: url("data:image/svg+xml;utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'><path fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z' fill='#ddd' fill-opacity='.4'/></svg>");
  background-repeat: repeat;
}
.swatch:hover .bg-checkered {
  background-color: #000;
}
.purple { color: #5E2CA5; }
.bg-washed-red { background-color: #FFDFDF; }
.b--washed-red { border-color: #FFDFDF; }
.b--persian-green { border-color: #00A699; }
.debug-grid-green {
  background-image: linear-gradient(transparent 7px,#00a699 8px),linear-gradient(90deg,transparent 7px,#00a699 8px);
  background-size: 8px 8px;
  background-position: 0 3px;
  background-repeat: repeat;
}
</style>