
    <article class="mt5">
      <h3 class="f8 ttu fw6 mt0 mb3 bb pb2">Typescale</h3>
      <table>
        <tbody>
          <tr>
            <td class="tc f1 b br b--black-10 v-base">A</td>
            <td class="tc f2 b br b--black-10 v-base">A</td>
            <td class="tc f3 b br b--black-10 v-base">A</td>
            <td class="tc f4 b br b--black-10 v-base">A</td>
            <td class="tc f5 b br b--black-10 v-base">A</td>
            <td class="tc f6 b br b--black-10 v-base">A</td>
            <td class="tc f7 b br b--black-10 v-base">A</td>
            <td class="tc f8 b br b--black-10 v-base">A</td>
            <td class="tc f9 b b--black-10 v-base">A</td>
          </tr>
          <tr>
            <td class="tc gray f8 fw2 ph2 bt br b--black-10 pt1">3rem (48px)<br/>f1</td>
            <td class="tc gray f8 fw2 ph2 bt br b--black-10 pt1">2.5rem (40px)<br/>f2</td>
            <td class="tc gray f8 fw2 ph2 bt br b--black-10 pt1">2.25rem (36px)<br/>f3</td>
            <td class="tc gray f8 fw2 ph2 bt br b--black-10 pt1">2rem (32px)<br/>f4</td>
            <td class="tc gray f8 fw2 ph2 bt br b--black-10 pt1">1.5rem (24px)<br/>f5</td>
            <td class="tc gray f8 fw2 ph2 bt br b--black-10 pt1">1.25rem (20px)<br/>f6</td>
            <td class="tc gray f8 fw2 ph2 bt br b--black-10 pt1">1rem (16px)<br/>f7</td>
            <td class="tc gray f8 fw2 ph2 bt br b--black-10 pt1">.875rem (14px)<br/>f8</td>
            <td class="tc gray f8 fw2 pl2 bt b--black-10 pt1">.75rem (12px)<br/>f9</td>
          </tr>
        </tbody>
      </table>
    </article>

    <article class="mt5">
      <h3 class="f8 ttu fw6 mt0 mb3 bb pb2">Font Families</h3>
      <div class="row">
        <div class="col-12 col-6-m col-4-l">
          <h4 class="f5 mb0 mt3 fw3">Lato Light (300)</h4>
          <p class="sans-serif fw3"> a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
          <p class="sans-serif ttu fw3"> a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
          <p class="sans-serif lh-copy measure fw3">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
        </div>
        <div class="col-12 col-6-m col-4-l">
          <h4 class="f5 mb0 mt3 fw4">Lato Regular (400)</h4>
          <p class="sans-serif fw4"> a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
          <p class="sans-serif ttu fw4"> a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
          <p class="sans-serif lh-copy measure fw4">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
        </div>
        <div class="col-12 col-6-m col-4-l">
          <h4 class="f5 mb0 mt3 fw7">Lato Bold (700)</h4>
          <p class="sans-serif fw7"> a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
          <p class="sans-serif ttu fw7"> a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
          <p class="sans-serif lh-copy measure fw7">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
        </div>
    </article>
