
    <article class="mt5">
      <h3 class="f6 ttu fw6 mt0 mb3 bb pb2">Typescale</h3>
      <table>
        <tbody>
          <tr>
            <td class="tc f-headline b br b--black-10 v-base">A</td>
            <td class="tc ph2 br f-subheadline b br b--black-10 v-base">A</td>
            <td class="tc f1 b br b--black-10 v-base">A</td>
            <td class="tc f2 b br b--black-10 v-base">A</td>
            <td class="tc f3 b br b--black-10 v-base">A</td>
            <td class="tc f4 b br b--black-10 v-base">A</td>
            <td class="tc f5 b br b--black-10 v-base">A</td>
            <td class="tc f6 b br b--black-10 v-base">A</td>
            <td class="tc f7 b b--black-10 v-base">A</td>
          </tr>
          <tr>
            <td class="tc gray f6 fw2 pr2 bt br b--black-10 pt1">6rem (96px)<br/>f-headline</td>
            <td class="tc gray f6 fw2 ph2 bt br b--black-10 pt1">5rem (80px)<br/>f-subheadline</td>
            <td class="tc gray f6 fw2 ph2 bt br b--black-10 pt1">3rem (48px)<br/>f1</td>
            <td class="tc gray f6 fw2 ph2 bt br b--black-10 pt1">2.25rem (36px)<br/>f2</td>
            <td class="tc gray f6 fw2 ph2 bt br b--black-10 pt1">1.5rem (24px)<br/>f3</td>
            <td class="tc gray f6 fw2 ph2 bt br b--black-10 pt1">1.25rem (20px)<br/>f4</td>
            <td class="tc gray f6 fw2 ph2 bt br b--black-10 pt1">1rem (16px)<br/>f5</td>
            <td class="tc gray f6 fw2 ph2 bt br b--black-10 pt1">.875rem (14px)<br/>f6</td>
            <td class="tc gray f6 fw2 pl2 bt b--black-10 pt1">.75rem (12px)<br/>f7</td>
          </tr>
        </tbody>
      </table>
    </article>

    <article class="mt5">
      <h3 class="f6 ttu fw6 mt0 mb3 bb pb2">Font Families</h3>
      <div class="row">
        <div class="col-12 col-6-m col-4-l">
          <h4 class="f5 fw4 mb0 mt3">system sans-serif</h4>
          <p class="system-sans-serif"> a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
          <p class="system-sans-serif ttu"> a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
          <p class="system-sans-serif lh-copy measure">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
        </div>
        <div class="col-12 col-6-m col-4-l">
          <h4 class="f5 fw4 mb0 mt3">system serif</h4>
          <p class="system-serif">a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
          <p class="system-serif ttu">a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
          <p class="system-serif lh-copy measure">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
        </div>
        <div class="col-12 col-6-m col-4-l">
          <h4 class="f5 fw4 mb0 mt3">Code</h4>
          <p class="code"> a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
          <p class="code ttu"> a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
          <p class="code lh-copy measure">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
        </div>
        <div class="col-12 col-6-m col-4-l">
          <h4 class="f5 fw4 mb0 mt3">Courier</h4>
          <p class="courier"> a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
          <p class="courier ttu"> a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
          <p class="courier lh-copy measure">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
        </div>
        <div class="col-12 col-6-m col-4-l">
          <h4 class="f5 fw4 mb0 mt3">Helvetica</h4>
          <p class="helvetica"> a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
          <p class="helvetica ttu"> a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
          <p class="helvetica lh-copy measure">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
        </div>
        <div class="col-12 col-6-m col-4-l">
          <h4 class="f5 fw4 mb0 mt3">Avenir Next</h4>
          <p class="avenir"> a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
          <p class="avenir ttu"> a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
          <p class="avenir lh-copy measure">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
        </div>
        <div class="col-12 col-6-m col-4-l">
          <h4 class="f5 fw4 mb0 mt3">Athelas</h4>
          <p class="athelas"> a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
          <p class="athelas ttu"> a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
          <p class="athelas lh-copy measure">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
        </div>
        <div class="col-12 col-6-m col-4-l">
          <h4 class="f5 fw4 mb0 mt3">georgia</h4>
          <p class="georgia"> a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
          <p class="georgia ttu"> a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
          <p class="georgia lh-copy measure">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
        </div>
        <div class="col-12 col-6-m col-4-l">
          <h4 class="f5 fw4 mb0 mt3">Times</h4>
          <p class="times"> a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
          <p class="times ttu"> a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
          <p class="times lh-copy measure">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
        </div>
        <div class="col-12 col-6-m col-4-l">
          <h4 class="f5 fw4 mb0 mt3">Bodoni MT</h4>
          <p class="bodoni"> a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
          <p class="bodoni ttu"> a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
          <p class="bodoni lh-copy measure">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
        </div>
        <div class="col-12 col-6-m col-4-l">
          <h4 class="f5 fw4 mb0 mt3">calisto</h4>
          <p class="calisto"> a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
          <p class="calisto ttu"> a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
          <p class="calisto lh-copy measure">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
        </div>
        <div class="col-12 col-6-m col-4-l">
          <h4 class="f5 fw4 mb0 mt3">garamond</h4>
          <p class="garamond"> a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
          <p class="garamond ttu"> a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
          <p class="garamond lh-copy measure">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
        </div>
        <div class="col-12 col-6-m col-4-l">
          <h4 class="f5 fw4 mb0 mt3">baskerville</h4>
          <p class="baskerville"> a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
          <p class="baskerville ttu"> a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
          <p class="baskerville lh-copy measure">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
        </div>
    </article>
