{% extends "panel.html.twig" %}

{% block title %}Update Menu {{ menuName }}{% endblock %}
{% block body %}
  <div class="clearfix cf">
    <p class="pull-right">
      <a class="btn btn-default" href="{{ helper("url").build("admin/menus/create?menu=" ~ menuName) }}">
        Add Menu Item <b class="fa fa-plus"></b>
      </a>
    </p>
  </div>
  {{ helper("displays").render(grid, {"menu": menuName}) }}
{% endblock %}
