<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Error | {{ helper('settings').get('site_name') }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  </head>
  <body style="background:#F5F5F5;color:#333;font-family:Arial,sans-serif;">
    <div class="container" style="background:#FFF;max-width:500px;margin:50px auto;border:1px solid #ccc;padding:20px;">
      <p>An error is preventing this page from loading. Please try again later or contact the website administrator.</p>
    </div>
  </body>
</html>
