<div class="panel panel-default">
  <div class="panel-heading"><strong>Settings</strong></div>
  <div class="panel-body">
    {{ helper("displays").render("SettingsForm", {"operation": "update"}) }}
  </div>
</div>
