{% if helper("session").loggedIn() %}
  <h2>Sorry!</h2>
  <p>You do not have sufficient permission to access this page.</p>
{% endif %}
<h2>Log In</h2>
<p>Please log in to continue.</p>
{{ helper("displays").render("LoginForm") }}
