<!DOCTYPE html>
<html lang="en">
  <head>
{{ publish("hook/global.head.html.twig") }}
  </head>
  <body class="sans-serif near-black bg-white">
    {{ include('page.html.twig') }}
{{ publish("hook/global.footer.html.twig") }}
  </body>
</html>