<a href="#navigation" class="link sr-only sr-only-focusable">Skip to navigation</a>
<a href="#content" class="link sr-only sr-only-focusable">Skip to main content</a>
<div class="page layout--{{ route.layout }}">
  {{ include("header.html.twig") }}
  {{ include("layout.html.twig") }}
  {{ include("footer.html.twig") }}
</div>