{% extends "panel.html.twig" %}

{% block before %}
{% if helper("db").success("menus", "create") %}
  <div class="success">Menu saved successfully</div>
{% endif %}
{% endblock %}
{% block title %}Update Menu {{ menuName }}{% endblock %}
{% block body %}
  <div class="clearfix cf">
    <p class="pull-right">
      <a class="btn btn-default" href="{{ helper("url").build("admin/menus/create?menu=" ~ menuName) }}">
        Add Menu Item <b class="fa fa-plus"></b>
      </a>
    </p>
  </div>
  {{ helper("displays").render("MenusTreeGrid", {"menu": menuName}) }}
{% endblock %}
