:root {
  --input-padding-vertical: var(--spacing-small);
  --input-padding-horizontal: var(--spacing-medium);
  --input-padding: var(--input-padding-vertical) var(--input-padding-horizontal);
  --input-bg: var(--white);
  --input-hover-bg: var(--white);
  --input-selected-bg: var(--white);
  --input-error-bg: var(--white);
  --input-border-color: var(--moon-gray);
  --input-border-hover-color: color-mod(var(--input-border-color) blend(black 20%));
  --input-border-selected-color: var(--input-border-hover-color);
  --input-border: 1px solid var(--input-border-color);
  --input-border-radius: 0.25rem;

  --required-input-asterisk-color: var(--dark-red);
  --input-error-color: var(--dark-red);
  --input-option-hover-bg: var(--near-white);
  --input-option-focus-bg: var(--light-gray);
  --input-option-selected-color: inherit;
  --input-option-selected-bg: color-mod(var(--link-color) alpha(10%));

  --checkbox-color: var(--input-border-color);
  --checkbox-hover-color: var(--checkbox-color);
  --checkbox-checked-color: var(--link-color);
}

.input-reset, .form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  border-radius: 0;
}

.button-reset::-moz-focus-inner,
.input-reset::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.form-group {
  position: relative;
  margin-bottom: var(--spacing-medium);
}

.form-control {
  display: block;
  width: 100%;
  padding: var(--input-padding);
  background: var(--input-bg);
  border: var(--input-border);
  border-radius: var(--input-border-radius);
  transition: border-color 0.2s, box-shadow 0.2s;
  &:hover {
    background: var(--input-hover-bg);
    border-color: var(--input-border-hover-color);
  }
  &:valid, &.filled {
    background: var(--input-selected-bg);
    border-color: var(--input-border-selected-color);
  }
}

.form-control:focus, .form-control.focused {
  box-shadow: inset 0 0 0 2px var(--focus-shadow-color);
}

.form-control.form-error {
  &, &:focus {
    background: var(--input-error-bg);
    border-color: var(--input-error-color);
  }
}

label {
  display: inline-block;
  width: 100%;
}

::-webkit-input-placeholder {
  color: currentColor;
  opacity: 0.5;
}
:-ms-input-placeholder {
  color: currentColor;
  opacity: 0.5;
}
::-ms-input-placeholder {
  color: currentColor;
  opacity: 0.5;
}
:-moz-placeholder {
  color: currentColor;
  opacity: 0.5;
}
::-moz-placeholder {
  color: currentColor;
  opacity: 0.5;
}

.asterisk {
  color: var(--required-input-asterisk-color);
}

.alert-danger {
  color: var(--input-error-color);
}

.dropdown-indicator {
  position: relative;
}
.dropdown-indicator{
  &:before {
    position: absolute;
    right: 1px;
    top: 1px;
    padding: var(--input-padding);
    pointer-events: none;
    @extend .material-icons;
    content: "expand_more";
    color: var(--input-border-color);
    line-height: calc(var(--base-font-size) * 1.5);
    transition: border-color 0.2s;
  }
  &:hover:before {
    color: var(--input-border-hover-color);
  }
}
select.form-control, .form-control.dropdown-indicator {
  padding-right: calc(var(--input-padding-horizontal) + var(--input-padding-horizontal) + 24px);
}

.checkbox {
  opacity: 0;
  position: absolute;
  &:indeterminate + .checkbox-label:before {
    content: "indeterminate_check_box";
    color: var(--checkbox-checked-color);
  }
  &:checked + .checkbox-label:before {
    content: "check_box";
    color: var(--checkbox-checked-color);
  }
  &:focus + .checkbox-label,
  .focus-wrapper:focus & + .checkbox-label,
  .dgrid-selected & + .checkbox-label {
    box-shadow: inset 0 0 0 2px var(--focus-shadow-color);
  }
}

.checkbox-label {
  padding-left: calc(var(--input-padding-horizontal) + var(--input-padding-horizontal) + 24px);
  padding-top: var(--input-padding-vertical);
  padding-bottom: var(--input-padding-vertical);
  padding-right: var(--input-padding-horizontal);
  position: relative;
  display: inline-block;
  width: 100%;
  border-radius: var(--input-border-radius);
  transition: background-color 0.2s;
  &:before {
    @extend .material-icons;
    content: "check_box_outline_blank";
    color: var(--checkbox-color);
    position: absolute;
    left: var(--input-padding-horizontal);
  }
  &:hover:before {
    color: var(--checkbox-hover-color);
  }
}

.checkbox.check-circle {
  & + .checkbox-label {
    display: inline-block;
    line-height: 2rem;
  }
  & + .checkbox-label:before {
    content: "cancel";
    font-size: 2rem;
  }
  &:checked + .checkbox-label:before {
    content: "check_circle";
  }
}

.radio {
  opacity: 0;
  position: absolute;
  &:checked + .radio-label:before {
    content: "radio_button_checked";
    color: var(--checkbox-checked-color);
  }
  &:focus + .radio-label,
  .focus-wrapper:focus & + .radio-label,
  .dgrid-selected & + .radio-label {
    box-shadow: inset 0 0 0 2px var(--focus-shadow-color);
  }
}

.radio-label {
  padding-left: calc(var(--input-padding-horizontal) + var(--input-padding-horizontal) + 24px);
  padding-top: var(--input-padding-vertical);
  padding-bottom: var(--input-padding-vertical);
  padding-right: var(--input-padding-horizontal);
  position: relative;
  display: inline-block;
  width: 100%;
  transition: background-color 0.2s;
  &:before {
    @extend .material-icons;
    content: "radio_button_unchecked";
    color: var(--checkbox-color);
    position: absolute;
    left: var(--input-padding-horizontal);
  }
  &:hover:before {
    color: var(--checkbox-hover-color);
  }
}

// Utilities
// -------------------------
// disable MS clear button in edge
.ms-clear-dn::-ms-clear {
  display: none;
}

